<div class="cookies_policy">
    <div class="hero">
        <h1>{{applyText('md_cookies_policy_text_1') }}</h1>
    </div>
    <div class="section_policy">
        <div class="content">
            <h3>{{applyText('md_cookies_policy_text_2') }}</h3>
            {{applyText('md_cookies_policy_text_3') }}
           
            <br>
            <strong>{{applyText('md_cookies_policy_text_4') }}</strong>
            <br>
            {{applyText('md_cookies_policy_text_5') }}
           
            <br>
            <table class="table table-bordered web">
                <thead>
                    <tr>
                        <th scope="col">{{applyText('md_cookies_policy_text_6') }}</th>
                        <th scope="col">{{applyText('md_cookies_policy_text_7') }}</th>
                        <th scope="col">{{applyText('md_cookies_policy_text_8') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>wallet.com</th>
                        <td>_pxvid , _px3 , __pxvid , rskxRunCookie , pxcts</td>
                        <td>{{applyText('md_cookies_policy_text_9') }}</td>
                    </tr>
                    <tr>
                        <th>www.wallet.com</th>
                        <td>cookietest , _pxff_fp , OptanonConsent , _pxff_rf , _pxff_idp_c , _pxhd , _pxff_cc ,
                            OptanonAlertBoxClosed , cf_chl_cc_ , cf_use_ob</td>
                        <td>{{applyText('md_cookies_policy_text_11') }}</td>
                    </tr>
                    
                </tbody>
            </table>
            <table class="table table-bordered mobile"> 
                <tbody>
                    <tr>
                        <th><strong>{{applyText('md_cookies_policy_text_13') }}</strong>: www.wallet.com</th> 
                    </tr>
                    <tr>
                        <th><strong>{{applyText('md_cookies_policy_text_12') }}</strong>: gaVisitorTypeShort , ADRUM_BT , gaVisitorTypeLong</th> 
                    </tr>
                    <tr>
                        <th><strong>{{applyText('md_cookies_policy_text_14') }}</strong>{{applyText('md_cookies_policy_text_15') }}</th> 
                    </tr>
                    <tr>
                        <th><strong>{{applyText('md_cookies_policy_text_16') }}</strong>: wallet.com</th> 
                    </tr>
                    <tr>
                        <th><strong>{{applyText('md_cookies_policy_text_17') }}</strong>: ADRUM , _gat_UA-nnnnnnn-nn , _gid , _gclxxxx , _ga_JMDY11H0YJ , _uetvid , _ga</th> 
                    </tr>
                    <tr>
                        <th><strong>{{applyText('md_cookies_policy_text_18') }}</strong>{{applyText('md_cookies_policy_text_19') }}</th> 
                    </tr>     
                </tbody>
            </table>
 
        </div>
      
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>
                    {{applyText('md_cookies_policy_text_20') }}
                    
                </h2>
                <p>
                    {{applyText('md_cookies_policy_text_21') }}
                    
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>