<div class="my-info">
    <div class="content">
        <h3>{{'my_information_1'|translate}}</h3>
        <p>{{'my_information_2'|translate}}</p>
        <div class="data">
            <span>{{'my_information_3'|translate}}</span>
            <p>WR105785R4</p>
        </div>
        <div class="data">
            <span>{{'my_information_4'|translate}}</span>
            <p>John</p>
        </div>
        <div class="data">
            <span>{{'my_information_5'|translate}}</span>
            <p>James</p>
        </div>
        <div class="data">
            <span>{{'my_information_6'|translate}}</span>
            <p>Wick</p>
        </div>
        <div class="data">
            <span>{{'my_information_7'|translate}}</span>
            <p>01/01/1990</p>
        </div>
        <div class="data">
            <span>{{'my_information_8'|translate}}</span>
            <p>Masculin</p>
        </div>
    </div>
</div>