<div class="full-calculator">
    <div class="hero-section">
      <div class="content-hero">
        <div class="left">
          <h1>
            Utilisez notre service Virement bancaire pour envoyer de l'argent en
            toute sécurité vers les États-Unis
          </h1>
        </div>
        <div class="right">
          <!-- <app-transaction-box></app-transaction-box> -->
          <div class="trans-box">
            <div class="head">
              <p>Taux de change</p>
              <p>1 CAD = 40.5363 PHP</p>
            </div>
            <div class="content">
              <div class="group-select">
                <div class="amt">
                  <span>Montant envoyé</span>
                  <p>100.00</p>
                </div>
                <select class="form-select">
                  <option selected>INT</option>
                  <optgroup label="pays">
                    <option value="all">
                      <img src="assets/images/png/germany.png" alt="" /> ALL
                    </option>
                    <option value="aus">
                      <img src="assets/images/png/austria.png" alt="" /> AUS
                    </option>
                    <option value="can">
                      <img src="assets/images/png/canada.png" alt="" /> CAN
                    </option>
                    <option value="fra">
                      <img src="assets/images/png/france.png" alt="" /> FRA
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="group-select">
                <div class="amt">
                  <span>Montant envoyé</span>
                  <p>100.00</p>
                </div>
                <select class="form-select">
                  <option selected>INT</option>
                  <optgroup label="pays">
                    <option value="all">
                      <img src="assets/images/png/germany.png" alt="" /> ALL
                    </option>
                    <option value="aus">
                      <img src="assets/images/png/austria.png" alt="" /> AUS
                    </option>
                    <option value="can">
                      <img src="assets/images/png/canada.png" alt="" /> CAN
                    </option>
                    <option value="fra">
                      <img src="assets/images/png/france.png" alt="" /> FRA
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="mode_receipt">
                <p>Mode de réception</p>
                <select class="form-select">
                  <option selected>International</option>
                  <optgroup label="pays">
                    <option value="all">
                      <img src="assets/images/png/germany.png" alt="" /> Allemagne
                    </option>
                    <option value="aus">
                      <img src="assets/images/png/austria.png" alt="" /> Australie
                    </option>
                    <option value="can">
                      <img src="assets/images/png/canada.png" alt="" /> Canada
                    </option>
                    <option value="fra">
                      <img src="assets/images/png/france.png" alt="" /> Français
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="mode_receipt">
                <p>Virement bancaire partenaire</p>
                <select class="form-select">
                  <option selected>International</option>
                  <optgroup label="pays">
                    <option value="all">
                      <img src="assets/images/png/germany.png" alt="" /> Allemagne
                    </option>
                    <option value="aus">
                      <img src="assets/images/png/austria.png" alt="" /> Australie
                    </option>
                    <option value="can">
                      <img src="assets/images/png/canada.png" alt="" /> Canada
                    </option>
                    <option value="fra">
                      <img src="assets/images/png/france.png" alt="" /> Français
                    </option>
                  </optgroup>
                </select>
              </div>
              <div class="summary">
                  <div class="line">
                      <span>Frais</span>
                      <span>2.99 EUR</span>
                  </div>
                  <div class="line">
                      <span>Temps de transfert</span>
                      <span class="lab-visible">Jour ouvré suivant</span>
                  </div>
                  <div class="line">
                      <span>Total à payer</span>
                      <span>102.99 EUR</span>
                  </div> 
              </div>
              <button class="btn btn-primary" (click)="childMethod()">Continuer</button>
              <button class="btn btn-link">Annuler</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>