<div class="how-to">
  <div class="hero-section">
    <div class="content">
      <div class="btn-play">
        <img src="assets/images/svg/play-fill.svg" alt="" />
        <div class="animated"></div>
      </div>
      <h3>{{applyText('md_commentmarche_text_1') }}</h3>
      <p>
        {{applyText('md_commentmarche_text_2') }}
        
      </p>
    </div>
  </div>
  <div class="how-to-send-money">
    <div class="content">
      <h2> {{applyText('md_commentmarche_text_3') }}</h2>
      <div class="block">
        <div class="card">
          <img src="assets/images/svg/shield-check.svg" alt="" />
          <h3> {{applyText('md_commentmarche_text_4') }}</h3>
          <p>
            <a href=""> {{applyText('md_commentmarche_text_5') }}</a> 
            {{applyText('md_commentmarche_text_6') }}
          </p>
        </div>
        <div class="card">
          <img src="assets/images/svg/pin-map.svg" alt="" />
          <h3> {{applyText('md_commentmarche_text_7') }}</h3>
          <p>
            {{applyText('md_commentmarche_text_8') }}
          </p>
        </div>
        <div class="card">
          <img src="assets/images/svg/hand-index-thumb.svg" alt="" />
          <h3> {{applyText('md_commentmarche_text_9') }}</h3>
          <p>
            {{applyText('md_commentmarche_text_10') }}
          </p>
        </div>
        <div class="card">
          <img src="assets/images/svg/tag.svg" alt="" />
          <h3> {{applyText('md_commentmarche_text_11') }}</h3>
          <p>
            {{applyText('md_commentmarche_text_12') }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-typ">
    <div class="content">
      <h2> {{applyText('md_commentmarche_text_13') }}</h2>
      <p>
        {{applyText('md_commentmarche_text_14') }}
        
      </p>
      <div class="slick-slider">
        <div class="controls d-none">
          <button class="btn btn-link">
            <img src="assets/images/svg/arrow-left-short.svg" alt="" />
          </button>
          <button class="btn btn-link">
            <img src="assets/images/svg/arrow-right-short.svg" alt="" />
          </button>
        </div>
        <div class="s-slides">
          <div class="content">
            <div class="card">
              <p class="c-title"> {{applyText('md_commentmarche_text_15') }}</p>
              <p class="c-content">
                {{applyText('md_commentmarche_text_16') }}
                
              </p>
              <button class="btn btn-primary"> {{applyText('md_commentmarche_text_17') }}</button>
            </div>

            <div class="card">
              <p class="c-title"> {{applyText('md_commentmarche_text_15_1') }}</p>
              <p class="c-content">
                {{applyText('md_commentmarche_text_16_1') }}
                
              </p>
              <button class="btn btn-primary"> {{applyText('md_commentmarche_text_17_1') }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="why-us">
    <div class="content">
      <h2> {{applyText('md_commentmarche_text_18') }}</h2>
      <div class="line-block">
        <div class="block">
          <img src="assets/images/svg/clock.svg" alt="" />
          <h2> {{applyText('md_commentmarche_text_19') }}</h2>
          <p>
            {{applyText('md_commentmarche_text_20') }}
            
          </p>
        </div>
        <div class="block">
          <img src="assets/images/svg/safe.svg" alt="" />
          <h2> {{applyText('md_commentmarche_text_21') }}</h2>
          <p>
            {{applyText('md_commentmarche_text_22') }}
          

          </p>
        </div>
        <div class="block">
          <img src="assets/images/svg/value.svg" alt="" />
          <h2> {{applyText('md_commentmarche_text_23') }}</h2>
          <p>
            {{applyText('md_commentmarche_text_24') }}
            
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="pub">
    <div class="content">
        <h1> {{applyText('md_commentmarche_text_25') }}</h1>
        <button class="btn btn-primary" (click)="openViewmobile()"> {{applyText('md_commentmarche_text_26') }}</button>
    </div>
  </div>
  <div class="app-section">
    <div class="content">
      <div class="left">
        <img src="assets/images/png/home-6.png" alt="" />
      </div>
      <div class="right">
        <h2>
          {{applyText('md_commentmarche_text_27') }}
        </h2>
        <p>
          {{applyText('md_commentmarche_text_28') }}
          
        </p>
        <div class="download_app">
          <button class="btn btn-link">
            <img src="assets/images/png/download_AppStore.png" alt="" />
          </button>
          <button class="btn btn-link">
            <img src="assets/images/png/download_PlayStore.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
