<app-html-english *ngIf="isEnglish()"></app-html-english>
<div class="privacy_policy" *ngIf="isFrench()">
    <div class="hero">
        <h1>Politique de Confidentialité des Services ONE HAND BUSINESS (wa-llet)</h1>
    </div>
    <div class="section_policy">
        <div class="content">
            <ul>
                <li>Nos sites internet :
                    <ul>
                        <li><a href="http://www.wa-llet.com">www.wa-llet.com</a></li>
                        <!--li><a href="http://www.mobile.wa-llet.com">www.mobile.wa-llet.com</a></li>
                        <li><a href="http://www.payement.wa-llet.com">www.payement.wa-llet.com</a></li-->
                    </ul>
                </li>
                <li>Nos comptes interactifs sur Telegram, WhatsApp et Facebook Messenger</li>
                <li>Nos applications mobiles Android et iOS : w@-llet</li>
            </ul>
    
            <p>w@-llet est une marque déposée de ONE HAND BUSINESS LLC. Dernière mise à jour : 23 Octobre 2023</p>
    
            <p>Le respect de votre vie privée est une priorité absolue pour ONE HAND BUSINESS LLC. Cette politique vise à :</p>
    
            <ol>
                <li>Présenter la collecte et le traitement de vos données personnelles, comprenant des informations telles que
                    votre nom, adresse, email, localisation et adresse IP.</li>
                <li>Clarifier vos droits concernant ces données.</li>
                <li>Identifier la partie responsable de ce traitement.</li>
                <li>Définir les destinataires de ces données.</li>
                <li>Le cas échéant, expliquer notre politique relative aux cookies.</li>
            </ol>
    
            <p>Cette politique complète nos Conditions Générales d'Utilisation consultables <a (click)="openViewGeneralConditions()" class="link" cursor="pointer" style="cursor:pointer">ici</a>.</p>
    
            <h2>1. Collecte de Données Personnelles</h2>
            <p>Nous collectons les catégories suivantes de données personnelles :</p>
            <ul>
                <li>Nom</li>
                <li>Prénom</li>
                <li>Date et lieu de naissance</li>
                <li>Adresse postale, ville et pays</li>
                <li>Code postal</li>
                <li>Adresse électronique</li>
                <li>Numéro de téléphone</li>
                <li>Possiblement le numéro de permis de conduire ou de passeport pour les vérifications d'identité légales.</li>
            </ul>
    
            <p>Ces données sont obtenues selon les méthodes détaillées dans les sections "Formulaires et Modes de Collecte".</p>
    
            <h2>2. Formulaires et Modes de Collecte</h2>
            <p>Vos données sont collectées via les moyens suivants :</p>
            <ul>
                <li>Formulaire d'inscription sur les plateformes</li>
            </ul>
    
            <p>Nous utilisons ces données pour les finalités suivantes :</p>
            <ul>
                <li>Informations / Offres promotionnelles</li>
                <li>Statistiques</li>
                <li>Contact</li>
                <li>Gestion des plateformes</li>
                <li>Respect des obligations légales</li>
            </ul>
    
            <h2>3. Interactivité</h2>
            <p>Nous collectons également des données via l'interaction entre vous et nos plateformes. Cela inclut :</p>
            <ul>
                <li>Commentaires</li>
                <li>Correspondance</li>
                <li>Informations pour les offres promotionnelles</li>
            </ul>
    
            <p>Ces données sont utilisées pour les finalités suivantes :</p>
            <ul>
                <li>Statistiques</li>
                <li>Contact</li>
                <li>Gestion des plateformes</li>
                <li>Respect des obligations légales</li>
            </ul>
             <h2>4. Fichiers Journaux et Cookies</h2>
            <p>Nous collectons certaines informations via des fichiers journaux et des cookies. Ces fichiers permettent des statistiques, l'analyse du trafic et améliorent la navigation.</p>
    
            <h3>a. Description des Cookies Utilisés</h3>
            <ul>
                <li>Adresse IP</li>
                <li>Système d'exploitation</li>
                <li>Heure et jour de connexion</li>
            </ul>
            <p>Ces fichiers servent à :</p>
            <ul>
                <li>Améliorer le service et personnaliser l'expérience</li>
                <li>Créer des profils de consommation personnalisés</li>
                <li>Mener des études statistiques</li>
            </ul>
    
            <h3>b. Refus des Cookies</h3>
            <p>Vous pouvez vous opposer à l'utilisation de cookies en configurant votre navigateur. Cependant, cela peut entraîner des dysfonctionnements qui ne sont pas de notre responsabilité.</p>
    
            <h2>5. Partage des Données Personnelles</h2>
            <p>Nous nous engageons à ne pas vendre ou commercialiser vos données personnelles. Cependant, nous pouvons les partager pour les raisons suivantes :</p>
            <ul>
                <li>Création de profils de consommation</li>
                <li>Partenariat</li>
                <li>Publicité</li>
                <li>Conformité légale</li>
            </ul>
            <p>Vous pouvez vous opposer à ce partage lors de la collecte ou ultérieurement, comme expliqué dans la section "Droit d'Opposition et de Retrait".</p>
    
            <h2>6. Durée de Conservation des Données Personnelles</h2>
            <p>Les données collectées sont conservées de manière sécurisée pendant 10 ans.</p>
            <h2>7. Hébergement des Données Personnelles</h2>
            <p>Notre site est hébergé par whois , dont les coordonnées sont :</p>
            <p>701 Lee Road, Suite 300, Chesterbrook, PA 19087</p>
            <p>Numéro de Email : <a href="mailto:billing@whois.com">billing@whois.com</a> / <a href="mailto:sales@whois.com">sales@whois.com</a></p>
            <p>Les données peuvent être transférées vers les États-Unis et la France.</p>
    
            <h2>8. Responsable du Traitement des Données Personnelles</h2>
            <p>Le responsable peut être contacté par courriel à l'adresse : <a href="mailto:info@wa-llet.com">info@wa-llet.com</a> ou par téléphone selon votre région.</p>
            <p>Le responsable s'engage à protéger et à utiliser ces données conformément à vos souhaits et aux finalités initiales.</p>
    
            <h2>9. Droit d'Opposition et de Retrait</h2>
            <p>Vous avez le droit de vous opposer au traitement de vos données et de demander leur retrait. Pour ce faire, suivez la procédure indiquée.</p>
    
            <h2>10. Droit d'Accès, de Rectification et de Suppression</h2>
            <p>Vous pouvez accéder, mettre à jour, modifier ou demander la suppression de vos données. Envoyez un courriel au responsable en indiquant votre requête.</p>
            <p>Si vous le souhaitez, vous pouvez demander la suppression de votre compte personnel en suivant une procédure spécifique.</p>
    
            <h2>11. Sécurité</h2>
            <p>Vos données sont conservées dans un environnement sécurisé, avec des mesures telles que le protocole SSL, la gestion des accès et des sauvegardes automatiques.</p>
    
            <h2>12. Votre Institution Financière et les Services Tiers</h2>
            <p>Nous utilisons Plaid Inc. pour collecter vos données financières. En utilisant notre service, vous consentez à ce partage.</p>
    
            <h2>13. Modification de la Politique de Confidentialité</h2>
            <p>Cette politique peut être modifiée pour rester conforme à la loi. Vous serez informé(e) des changements par courriel.</p>
    
            <h2>14. Acceptation de la Politique de Confidentialité</h2>
            <p>En utilisant nos plateformes, vous acceptez cette politique, notamment en ce qui concerne la collecte et le traitement de vos données personnelles et l'utilisation de cookies.</p>
    
            <h2>15. Législation et Loi Applicable</h2>
            <p>Cette politique est régie par les lois de l'État du Delaware pour les utilisateurs américains et par les lois du Québec et du Canada pour les autres utilisateurs.</p>
            <p>En cas de litige, la loi applicable est celle sur la protection des renseignements personnels dans le secteur privé et/ou la loi sur les protections des renseignements personnels et les documents électroniques.</p>
    
            <!-- ... (la suite du texte) ... -->
    
        </div>
    </div>
    <div class="app-section">
        <div class="content">
          <div class="left">
            <img src="assets/images/png/home-6.png" alt="" />
          </div>
          <div class="right">
            <h2>
                Un moyen rapide et efficace d'envoyer de l'argent depuis les États-Unis au Cameroun.
              </h2>
              <p>
              Téléchargez notre application gratuitement pour envoyer de l'argent en ligne en quelques minutes,
               vers le Cameroun. Consultez votre historique d'où que vous soyez
              </p>
            <div class="download_app">
              <button class="btn btn-link">
                <img src="assets/images/png/download_AppStore.png" alt="" />
              </button>
              <button class="btn btn-link">
                <img src="assets/images/png/download_PlayStore.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
</div>