<div class="partners">
    <div class="how-to">
        <div class="content">
            <div class="right"></div>
            <div class="left">
                <h3>Avis des clients WorldRemit</h3>
                <p>
                    Nos clients nous font confiance à l’heure d’envoyer le fruit de leur dur labeur. Ils savent que leur
                    argent arrive à destination rapidement, en toute sécurité et à moindre coût. C’est pourquoi nous
                    recueillons un si grand nombre d’avis clients positifs. Le vôtre en fera-t-il partie ?
                </p>
                <a href="">Lisez les avis de nos clients</a>
                <button class="btn btn-primary">Partagez votre dernière expérience</button>
            </div>
        </div>
    </div>
    <div class="section-pub">
        <div class="content">
            <div class="left">
                Que pensent les clients de nos services de transfert d’argent ?
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="why-us">
        <div class="content">
            <h2>
                WorldRemit en chiffres
            </h2>
            <div class="line-block">
                <div class="block">
                    <img src="assets/images/svg/globe_with_tick2.avif" alt="" />
                    <h2>Plus de 50 pays d’envoi et plus de 130 pays de réception</h2>
                </div>
                <div class="block">
                    <img src="assets/images/svg/customers2.avif" alt="" />
                    <h2>Plus de 6 millions de clients dans le monde entier</h2>
                </div>
                <div class="block">
                    <img src="assets/images/svg/globe2.avif" alt="" />
                    <h2>144 partenaires de paiement WorldRemit et Sendwave</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="how-to-send-money">
        <div class="content">
            <h2>Envie de collaborer ? Devenez une filiale WorldRemit</h2>
            <div class="block">
                <div class="card">
                    <img src="assets/images/jpg/app_m_0.jpg" alt="" />
                    <h3>1. Rejoignez notre programme d’affiliation</h3>
                    <p>
                        Inscrivez-vous et rejoignez notre programme d’affiliation ici. L’opération est un jeu d’enfant.
                    </p>
                </div>
                <div class="card">
                    <img src="assets/images/jpg/app_m_0.jpg" alt="" />
                    <h3>2. Faites la promotion de WorldRemit</h3>
                    <p>
                        Présentez nos services à vos clients. Nous sommes toujours à vos côtés : rejoignez le programme,
                        et profitez de nos conseils et de nos meilleures pratiques pour promouvoir WorldRemit.
                    </p>
                </div>
                <div class="card">
                    <img src="assets/images/jpg/app_m_0.jpg" alt="" />
                    <h3>3. Aidez vos clients et gagnez de l’argent !</h3>
                    <p>
                        Devenir une filiale WorldRemit vous permet de gagner de l’argent. Comment ? Dès qu’un nouveau
                        client s’inscrit à WorldRemit et finalise un transfert avec votre numéro de suivi unique.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-end">
        <div class="why-us">
            <div class="content">
                <h2>Avantages du programme d’affiliation à WorldRemit</h2>
                <div class="line-block">
                    <div class="block">
                        <img src="assets/images/jpg/app_m_0.jpg" alt=""/>
                        <h2>Élaborez des campagnes percutantes avec notre suite complète de ressources</h2>
                        <p>
                            Devenir filiale de WorldRemit, c’est accéder à des ressources de création localisées, à des
                            codes promo sur mesure et à des API de marketing.
                        </p>
                    </div>
                    <div class="block">
                        <img src="assets/images/jpg/app_m_0.jpg" alt=""/>
                        <h2>Une équipe parfaitement expérimentée dédiée à la gestion des filiales internationales</h2>
                        <p>
                            Augmentez vos bénéfices grâce aux responsables affiliés et aux agences.
                        </p>
                    </div>
                    <div class="block">
                        <img src="assets/images/jpg/app_m_0.jpg" alt=""/>
                        <h2>Augmentez vos gains avec nos incentives client leader sur le marché</h2>
                        <p>
                            Pour que vous puissiez booster vos ventes, nous proposons une tarification préférentielle
                            aux nouveaux clients, ainsi que des promotions aux clients existants. Devenir filiale de
                            WorldRemit, c’est profiter de réels avantages.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq">
            <div class="content">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Quelle est la commission reversée par WorldRemit ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Par défaut, la commission s’élève à 30 £ (pour un paiement min. de 50 £). Cependant, et
                                en fonction de la qualité du trafic, celle-ci peut être inférieure (sites web avec
                                incitations, par exemple). Nous proposons également des coûts par acquisition (CPA)
                                supérieurs à certaines filiales, lorsque nous estimons que les performances et la
                                qualité du trafic sont excellentes.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Puis-je devenir une banque partenaire ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Oui. Nous collaborons avec des banques partenaires. Dès lors que vous pouvez proposer
                                nos services à vos clients, nous sommes ravis de vous compter parmi nos filiales.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Comment fonctionne le paiement des commissions ?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Les filiales perçoivent leur commission dans les 30 jours suivant la fin du mois
                                correspondant. Nous travaillons activement à ramener ce délai à moins de 15 jours.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Puis-je faire la promotion de WorldRemit dans le monde entier ?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Vous pouvez consulter la liste des pays éligibles sur cette page.
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-light">Rejoignez notre programme d’affiliation</button>
            </div>
        </div>
    </div>
</div>