<div class="footer">
    <div class="content">
      
        <div class="group-info">

           
            <div class="block">
                <h4>{{applyText('md_footer_text_3') }}</h4> 
                <hr>
                <ul class="list-unstyled">
                    <li><a [title]="applyText('md_footer_text_4')" (click)="openViewFaq()">{{applyText('md_footer_text_4') }}</a></li> 
                    <li><a [title]="applyText('md_footer_text_5')" (click)="openViewMobileApp()">{{applyText('md_footer_text_5') }}</a></li> 
                    <li><a [title]="applyText('md_footer_text_6')" (click)="openViewAbout()">{{applyText('md_footer_text_6') }}</a></li> 
                    <!-- <li><a [title]="applyText('md_footer_text_7')" (click)="openViewCorporate()">{{applyText('md_footer_text_7') }}</a></li> 
                    <li><a [title]="applyText('md_footer_text_8')"  (click)="openViewReviews()">{{applyText('md_footer_text_8') }}</a></li> 
                    <li><a [title]="applyText('md_footer_text_9')"  (click)="openViewPartnersAndAffiliates()">{{applyText('md_footer_text_9') }}</a></li>-->  
                </ul>
            </div>
            <div class="block">
                <h4>{{applyText('md_footer_text_13') }}</h4>
                <hr>
                <ul class="list-unstyled">
                    <li><a [title]="applyText('md_footer_text_14')" (click)="openViewGeneralConditions()">{{applyText('md_footer_text_14') }}</a></li> 
                    <li><a [title]="applyText('md_footer_text_15')" (click)="openViewPolicy()">{{applyText('md_footer_text_15') }}</a></li> 
                    <!--li><a [title]="applyText('md_footer_text_16')" (click)="openViewCookies()">{{applyText('md_footer_text_16') }}</a></li> 
                    <li><a [title]="applyText('md_footer_text_17')" (click)="openViewAcceptance()">{{applyText('md_footer_text_17') }}</a></li> 
                    <li><a href="">Déclaration relative à l'esclavage moderne</a></li> 
                    <li><a href="">Bilan financier</a></li> 
                    <li><a href="">Inégalités de revenus salariaux entre hommes et femmes</a></li> 
                    <li><a href="">Plan du site</a></li>   -->
                </ul>
            </div>
            <div class="block">
                <h4> {{applyText('md_footer_text_1') }}</h4>
                <hr>
                <ul class="list-unstyled">  
                    <li><a (click)="openViewSendMoney('cm')">{{applyText('md_footer_text_2') }}</a></li> 
                </ul>
            </div>
          <!--   <div class="block">
                <h4>{{applyText('md_footer_text_10') }}</h4>
                <hr>
                <ul class="list-unstyled">  
                    <li><a [title]="applyText('md_footer_text_11')"  (click)="openViewFaq()">{{applyText('md_footer_text_11') }}</a></li> 
                    <li><a [title]="applyText('md_footer_text_12')" (click)="openViewCashPickup()">{{applyText('md_footer_text_12') }}</a></li> 
                    <li><a href="">Virements bancaires</a></li> 
                    <li><a href="">Portefeuille mobile</a></li> 
                    <li><a href="">Recharge téléphonique</a></li> 
                    <li><a href="">Contactez-nous</a></li> 
                    <li><a href="">Sécurité</a></li> 
                </ul>
            </div>-->
           
        </div>
        <hr>
        <!--div class="langue">
            <span>Choisissez votre région</span>
            <select class="form-select" >
                <option selected>International</option>
                <optgroup label="pays">

                    <option value="can">Canada</option>
                    <option value="usa">États-Unis</option>
                </optgroup> 
            </select>
        </div-->
        <div class="social">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=61552802107708">
                        <img src="assets/images/svg/facebook.svg" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://twitter.com/Wa_lLLet">
                        <img src="assets/images/svg/twitter-x.svg" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.instagram.com/wa_llet2023/">
                        <img src="assets/images/svg/instagram.svg" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="linkedin.com/in/wa-llet-wa-llet-6a2411299">
                        <img src="assets/images/svg/linkedin.svg" alt="">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a target="_blank" href="https://www.youtube.com/channel/UCsEZyNbx3W7tycrHLOSb-yg">
                        <img src="assets/images/svg/youtube.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="zone-end">
            <div class="left">
                <p>{{applyText('md_footer_text_18') }}</p>
                <!--p>{{applyText('md_footer_text_19') }}</p>
                <p>{{applyText('md_footer_text_20') }}</p-->
            </div>
            <div class="right">
                <img src="assets/images/png/logo_150.png" alt="">
                <p>{{applyText('md_footer_text_21') }}</p>
            </div>
        </div>
    </div>
</div>