<div class="about">
  <div class="pub">
    <div class="content">
      <h1>{{applyText('md_about_text_1') }}</h1>
      <p>
        {{applyText('md_about_text_2') }}
      </p>
    </div>
  </div>
  <div class="how-to">
    <div class="content">
      <div class="right"></div>
      <div class="left">
        <h3>{{applyText('md_about_text_3') }}</h3>
        <p>
          {{applyText('md_about_text_4') }}
        </p>
        <p>
          {{applyText('md_about_text_5') }}
        </p>
        <p>
          {{applyText('md_about_text_6') }}
        </p>
      </div>
    </div>
  </div>
  <div class="pub bg-white">
    <div class="content">
      <h3>{{applyText('md_about_text_7') }}</h3>
      <p>
        {{applyText('md_about_text_8') }}
      </p>
    </div>
  </div>
  <!--div class="section-stat-resumed">
    <div class="content">
      <div class="stat">
        <img src="assets/images/png/flying-money.png" alt="" />
        <h2> {{applyText('md_about_text_9') }}</h2>
        <p>{{applyText('md_about_text_10') }}</p>
      </div>
      <div class="stat">
        <img src="assets/images/png/bar-chart.png" alt="" />
        <h2>{{applyText('md_about_text_11') }}</h2>
        <p>{{applyText('md_about_text_12') }}</p>
      </div>
      <div class="stat">
        <img src="assets/images/png/team.png" alt="" />
        <h2>{{applyText('md_about_text_13') }}</h2>
        <p>{{applyText('md_about_text_14') }}</p>
      </div>
      <div class="stat">
        <img src="assets/images/png/planet-earth.png" alt="" />
        <h2>{{applyText('md_about_text_15') }}</h2>
        <p>{{applyText('md_about_text_16') }}</p>
      </div>
    </div>
  </div-->
  <!--div class="pub bg-white">
    <div class="content">
      <h3>{{applyText('md_about_text_17') }}</h3>
      <p>{{applyText('md_about_text_18') }}
        
      </p>
      <button class="btn btn-light">{{applyText('md_about_text_19') }}</button>
      <button class="btn btn-link">{{applyText('md_about_text_20') }}</button>
    </div>
  </div-->
  <div class="app-section">
    <div class="content">
      <div class="left">
        <img src="assets/images/png/home-6.png" alt="" />
      </div>
      <div class="right">
        <h2>{{applyText('md_about_text_21') }}
        </h2>
        <p>{{applyText('md_about_text_22') }}</p>
        <div class="download_app">
          <button class="btn btn-link">
            <img src="assets/images/png/download_AppStore.png" alt="" />
          </button>
          <button class="btn btn-link">
            <img src="assets/images/png/download_PlayStore.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
