<div class="login">
  <div class="content">
    <div class="left">
      <div class="content-form">
        <h1>{{'login_cnnectez_vous' | translate }}</h1>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">{{'login_email' | translate }}</label>
          <input
            type="email"
            class="form-control success"
            id="exampleFormControlInput1"
            value=""
          />
          <div id="exampleFormControlInput1" class="form-text d-none">
            {{'login_email_invalide' | translate }}
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPassword5" class="form-label">{{'login_password' | translate }}</label>
          <input
            type="password"
            id="inputPassword5"
            class="form-control error"
            aria-describedby="passwordHelpBlock"
          />
          <div id="passwordHelpBlock" class="form-text d-block error">
            {{'login_password_constraint' | translate }}
            
          </div>
        </div>
        <button class="btn btn-primary">{{'login_continue' | translate }}</button>
        <div class="panel">
          <div class="btn btn-block btn-link">
            {{'login_forget_password' | translate }}
            <img src="assets/images/svg/arrow-right-short.svg" alt="" />
          </div>
          <div class="btn btn-block btn-link">
            {{'login_fwd_subcription' | translate }}
            <img src="assets/images/svg/arrow-right-short.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="assets/images/png/numeric.png" alt="" />
      <div class="block">
        <p>{{'login_download_app' | translate }}</p>
        <div class="download_app">
          <button class="btn btn-link">
            <img src="assets/images/png/download_AppStore.png" alt="" />
          </button>
          <button class="btn btn-link">
            <img src="assets/images/png/download_PlayStore.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
