.sponsor {
  width: 100%;
  .hero-section {
    height: auto;
    width: 100%;
    background-color: #959595;
    padding: 40px 120px 80px;
    text-align: center;
    display: grid;
    gap: 16px;
    justify-items: center;
    .img-gift {
      width: auto;
      height: 35px;
    }
    h2 {
      font-size: 36px;
      font-family: f-bold;
      margin: 0;
      color: #ffffff;
    }
    p {
      margin: 0;
      font-size: 20px;
      color: #ffffff;
    }
    .btn-primary {
      height: 56px;
      width: 209px;
      background-color: #3b5999;
      border: none;
      font-size: 20px !important;
      font-family: f-bold;
      width: fit-content;
    }
  }
  .content {
    padding: 40px 120px 80px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    display: grid;
    gap: 16px;
    justify-items: center;
    background-color: #ffffff;
    h4 {
      font-size: 36px;
      font-family: f-bold;
      margin: 0;
    }
    .line-steps {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      .step {
        text-align: center;
        h3 {
          background: linear-gradient(45deg, #6bbce9, #51f645);
          width: 70px;
          color: #ffffff;
          height: 70px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "f-bold";
          margin: auto auto 15px;
        }
      }
    }
    .btn-outline-primary {
        height: 56px; 
        border: solid 2px #3b5999;
        color: #3b5999;
        font-size: 20px !important;
    }
    p {
        margin: 0;
        a {
            color: #3b5999;
        }
    }
  }
}

@media (max-width: 768px) { 
    .sponsor .hero-section { 
        padding: 40px 20px 80px; 
    }
    .sponsor .content {
        padding: 40px 20px 80px; 
        gap: 30px;
    }
    .sponsor .content .line-steps { 
        grid-template-columns: 1fr; 
    }
    .sponsor .content h4 {
        font-size: 26px;
        font-family: f-bold;
        margin: 0;
        text-align: center;
    }
    .sponsor .content p {
        margin: 0;
        text-align: center;
    }
}

@media (max-width: 576px) { 
    .sponsor .hero-section { 
        padding: 40px 20px 80px; 
    }
    .sponsor .content {
        padding: 40px 20px 80px; 
        gap: 30px;
    }
    .sponsor .content .line-steps { 
        grid-template-columns: 1fr; 
    }
    .sponsor .content h4 {
        font-size: 26px;
        font-family: f-bold;
        margin: 0;
        text-align: center;
    }
    .sponsor .content p {
        margin: 0;
        text-align: center;
    }
}