<div class="sponsor">
    <div class="hero-section">
        <img class="img-gift" src="assets/images/svg/gift.svg" alt="" />
        <h2>5 GPB pour vous et 5 GPB pour vos amis</h2>
        <p>Dès qu'ils ont envoyé 50 GPB ou plus, vous recevez un bon de 5 GPB de Wallet par email</p>
        <button class="btn btn-primary">Créer un compte</button>
    </div>
    <div class="content">
        <h4>Comment ça marche ?</h4>
        <div class="line-steps">
            <div class="step">
                <h3>1</h3>
                <p>Inscrivez-vous et effectuez votre premier transfert d'argent</p>
            </div>
            <div class="step">
                <h3>2</h3>
                <p>Visitez notre page "parainer un ami" et partagez votre code unique avec vos proches</p>
            </div>
            <div class="step">
                <h3>3</h3>
                <p>Une fois qu'ils se sont inscrits et- on envoyé 50 GPB avec votre code, nous vous envoyons un bon de réduction de 5 GPB par email</p>
            </div>
        </div>
        <button class="btn btn-outline-primary">En savoir plus</button>
        <p>Les conditions générales s'appliquent. <a href="">Consulter les conditions générales pour plus d'informations</a></p>
    </div>
</div>
