<div class="transaction">
    <div class="content">
        <h2>Transferts précédents</h2>
        <div class="data-table">
            <div class="data-table-head web">
                <span class="text-start">Infos du transfert</span>
                <span class="text-center">Bénéficaire</span>
                <span class="text-end">Montant</span>
            </div>
            <div class="data-table-body">
                <ul class="list-unstyled">
                    <li>
                        <div class="data" (click)="openViewDetailtransaction()">
                            <div class="line">
                                <span class="text-start">11 nov</span>
                                <div class="statut">
                                    <span class="text-end">Payé</span>
                                </div>
                            </div>
                            <div class="line">
                                <span class="text-start web">1122335544</span>
                                <span class="text-center font-b">Jane DOE</span>
                                <span class="text-end font-b">5000 XAF</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="data" (click)="openViewDetailtransaction()">
                            <div class="line">
                                <span class="text-start">11 nov</span>
                                <div class="statut">
                                    <span class="text-end">Payé</span>
                                </div>
                            </div>
                            <div class="line">
                                <span class="text-start web">1122335544</span>
                                <span class="text-center font-b">John SNOW</span>
                                <span class="text-end font-b">7000 XAF</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>