<app-html-english *ngIf="isEnglish()"></app-html-english>
<div class="my_account" *ngIf="isFrench()">
    <div class="content">
        <div class="menu">
            <h2>Gérer mon compte</h2>
            <p>Chaque client doit posséder son propre compte Wallet. </p>
            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy">
                <ul>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-1">Comment puis-je changer le nom sur mon compte
                            ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-2">Comment puis-je changer la date de naissance
                            sur mon compte ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-3">Comment puis-je changer l'adresse et le numéro
                            de téléphone sur mon compte ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-4">Comment puis-je changer le pays d'envoi sur
                            mon compte ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-5">Comment puis-je modifier l'adresse e-mail sur
                            mon compte ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-6">Comment puis-je changer le mot de passe de mon
                            compte ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-7">Comment puis-je changer le code PIN de mon
                            compte ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-8">Puis-je avoir plusieurs comptes Wallet
                            ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-9">Puis-je partager un compte Wallet ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-10">Comment fermer mon compte Wallet ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-11">Comment supprimer l'historique de mes
                            transactions Wallet ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-12">Comment puis-je déposer une plainte ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-13">Plaintes depuis le Royaume-Uni, l'UE et les
                            États-Unis</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-content">
            <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0"
                data-bs-smooth-scroll="true" class="scrollspy-content " tabindex="0">
                <h4 id="simple-list-item-1">Comment puis-je changer le nom sur mon compte
                    ?</h4>
                <div>
                    Le nom de votre compte Wallet doit être votre nom légal complet tel qu'il apparaît sur votre
                    pièce d'identité officielle.
                    <br>
                    Si vous avez fait une erreur lors de l'inscription (par exemple, votre nom est mal orthographié),
                    contactez-nous.
                </div>
                <h4 id="simple-list-item-2">Comment puis-je changer la date de naissance sur mon compte ?</h4>
                <div>
                    La date de naissance sur votre compte Wallet doit être la date de naissance exacte telle qu'elle
                    apparaît sur votre pièce d'identité officielle.
                    <br>
                    Si vous avez fait une erreur lors de l'inscription (par exemple, votre date de naissance est
                    incorrecte), contactez-nous.
                </div>
                <h4 id="simple-list-item-3">Comment puis-je changer l'adresse et le numéro de téléphone sur mon compte ?
                </h4>
                <div>
                    L'adresse sur votre compte Wallet doit être votre adresse résidentielle complète. Pour modifier
                    votre numéro de téléphone ou votre adresse personnelle, connectez-vous sur notre appli ou notre site
                    Web et accédez à la rubrique Mes coordonnées.
                    <br>
                    Si vous n'avez plus accès au numéro de téléphone enregistré, veuillez contacter le service client
                    qui pourra vous aider. Vous trouverez nos coordonnées ici
                </div>
                <h4 id="simple-list-item-4">Comment puis-je changer le pays d'envoi sur mon compte ?</h4>
                <div>
                    Le « pays d'envoi » sur votre compte Wallet doit être le pays où vous vivez actuellement. Ne
                    modifiez pas le pays d'envoi, sauf si vous avez déménagé de façon définitive dans un autre pays.
                    <br>
                    Si vous avez déménagé dans un autre pays ou commis une erreur lors de l'enregistrement (par exemple,
                    vous avez choisi le mauvais pays), contactez nous.
                </div>
                <h4 id="simple-list-item-5">Comment puis-je modifier l'adresse e-mail sur mon compte ?</h4>
                <div>
                    Pour modifier l'adresse e-mail enregistrée, connectez-vous sur notre appli ou notre site Web et
                    accédez à Mes coordonnées.
                    <br>
                    Si vous rencontrez des problèmes avec cette opération, contactez-nous.
                </div>
                <h4 id="simple-list-item-6">Comment puis-je changer le mot de passe de mon compte ?</h4>
                <div>
                    Si vous avez oublié votre mot de passe pour le site internet :
                    <ol>
                        <li>
                            Rendez-vous sur la page de connexion du site Wallet
                        </li>
                        <li>
                            Cliquez sur "mot de passe oublié ?"
                        </li>
                        <li>
                            Saisissez votre adresse e-mail et cliquez sur "Envoyer"
                        </li>
                        <li>
                            Vérifiez votre boite mail, nous vous aurons envoyé un e-mail incluant un lien.
                        </li>
                        <li>
                            Cliquez sur le lien et vous serez guidé dans le processus de configuration d'un nouveau
                            mot de
                            passe
                        </li>
                    </ol>
                </div>
                <h4 id="simple-list-item-7">Comment puis-je changer le code PIN de mon compte ?</h4>
                <div>
                    Lorsque vous utilisez l'application Wallet sur Android et iOS, vous devrez déterminer un code
                    PIN afin de sécuriser votre compte. Si vous avez oublié le code PIN :
                    <ol>
                        <li>
                            Ouvrez l'appli.
                        </li>
                        <li>
                            Cliquez sur « Oublié ? ».
                        </li>
                        <li>
                            Saisissez votre adresse e-mail et votre mot de passe.
                        </li>
                        <li>
                            Cliquez sur « Se connecter ».
                        </li>
                        <li>
                            Vous serez invité à sélectionner un nouveau code PIN.
                        </li>
                    </ol>
                    Pour réinitialiser votre mot de passe, cliquez sur « Oublié ? » sur l'écran à l'étape 3.
                </div>
                <h4 id="simple-list-item-8">Puis-je avoir plusieurs comptes Wallet ?</h4>
                <div>
                    Nous n'autorisons qu'un seul compte par client.
                </div>
                <h4 id="simple-list-item-9">Puis-je partager un compte Wallet ?</h4>
                <div>
                    Nous n'autorisons pas les comptes joints ou plusieurs titulaires de compte à l'heure actuelle.
                    Chaque client doit créer son propre compte.
                    <br>
                    En effet, nous devons nous assurer que nous pouvons contrôler l'identité de chaque personne qui
                    utilise Wallet.
                </div>
                <h4 id="simple-list-item-10">Comment fermer mon compte Wallet ?</h4>
                <div>
                    Pour désactiver votre compte Wallet, contactez nous.
                    <br>
                    Si vous changez d'avis, vous pouvez toujours réactiver votre compte en nous contactant.
                </div>
                <h4 id="simple-list-item-11">Comment supprimer l'historique de mes transactions Wallet ?</h4>
                <div>
                    Wallet est légalement tenu de tenir conserver l'historique des transactions de nos clients. Cela
                    signifie que nous ne pouvons pas supprimer de transactions.
                </div>
                <h4 id="simple-list-item-12">Comment puis-je déposer une plainte ?</h4>
                <div>
                    Si vous n'êtes pas satisfait du service que vous avez reçu de Wallet, contactez-nous. Nous vous
                    répondrons dès que possible, merci de patienter.
                    <br>
                    Nous espérons rectifier la situation de manière satisfaisante. Mais si vous souhaitez appuyer votre
                    plainte après avoir reçu notre réponse ou offre écrite, veuillez vous référer à la section «
                    Réclamations » de nos Conditions générales. Vous y trouverez le processus de plainte relatif à la
                    juridiction dans laquelle vous vivez.
                </div>
                <h4 id="simple-list-item-13">Plaintes depuis le Royaume-Uni, l'UE et les États-Unis</h4>
                <div>
                    Si vous vivez au Royaume-Uni et n'êtes pas satisfait de notre réponse, vous pouvez la transmettre au
                    FOS (Financial Ombudsman Service).
                    <br>
                    Si vous vivez dans l'Union européenne, vous pouvez trouver des options pour résoudre votre
                    réclamation sur la plateforme de résolution des litiges en ligne (ODR).
                    <br>
                    On peut vous demander un numéro de référence ou des détails sur votre correspondance avec
                    Wallet. Vous pouvez utiliser dataprivacy@Wallet.com comme adresse électronique.
                    <br>
                    Si vous vivez aux États-Unis, accédez à la page Déposer une plainte - USA.
                </div>
            </div>
        </div>
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>
                    Un moyen rapide et efficace d'envoyer de l'argent de n'importe où
                    quand vous êtes au Canada
                </h2>
                <p>
                    Téléchargez notre appli gratuitement pour envoyer de l'argent en ligne
                    en quelques minutes, vers plus de 130 pays. Suivez la progression de
                    vos transactions et consultez votre historique d'où que vous soyez
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>