<div class="general_conditions">
    <div class="hero">
        <h1>GENERAL CONDITIONS OF USE OF ONE HAND BUSINESS LLC PLATFORMS</h1>
        <p>Date of last update: October 15, 2023</p>
    </div>
    <div class="section_content">
        <div class="content">
            <div class="container">
               
                <p>PLEASE READ AND ACCEPT OUR TERMS AND CONDITIONS BEFORE USING OUR DIFFERENT PLATFORMS</p>
                <p>These terms and conditions govern your use of the platforms maintained and serviced by ONE HAND BUSINESS LLC (ONE HAND BUSINESS LLC Consulting, wa-llet) (referred to as the “Platforms”). By platforms, we mean:</p>
                <ul>
                    <li>Our websites:
                        <ul>
                            <li><a href="http://www.wa-llet.com">www.wa-llet.com</a></li>
                            <!--li><a href="http://www.mobile.wa-llet.com">www.mobile.wa-llet.com</a></li>
                            <li><a href="http://www.payement.wa-llet.com">www.payement.wa-llet.com</a></li-->
                        </ul>
                    </li>
                    <li>Our interactive Telegram, WhatsApp and Facebook Messenger accounts</li>
                    <li>Our Android and IOS mobile applications: wa-llet</li>
                </ul>
                <p>wallet is a service, product and registered trademark of ONE HAND BUSINESS LLC.</p>
                <p>By accessing or browsing the platforms, you acknowledge having read and understood the general conditions of use and agree to be bound by them. Please note that these terms of use may be modified at any time. You will be informed by email of any updates. Additionally, at least once a year, you will need to re-accept our terms of use to continue using our platforms.</p>
                <p>The information contained in this document is current as of the online date indicated at the top left of this page. You acknowledge, however, that information beyond the control of ONE HAND BUSINESS LLC may change at any time without notice and without there being an absolute necessity on our part to update such information immediately.</p>
                <h2>1. Restriction based on age</h2>
                <p>You must be at least eighteen (18) years old to use our Platforms or any services included therein. By accessing or using our platforms, you represent that you are at least eighteen (18) years old. We cannot be held responsible for any misrepresentation regarding your age.</p>
                <h2>2. Intellectual Property</h2>
                <p>All intellectual property on our Platforms is owned by us or our licensors and includes any material protected by copyright, trademark or patent. All trademarks are owned, registered and/or licensed by us. All content on our Platforms, including but not limited to text, software, code, design, graphics, photos, sounds, music, videos, applications, interactive features as well as any other content, is a collective work under US/Canadian or other copyright law and is the property of ONE HAND BUSINESS LLC or one of its subsidiaries. Material on our Platforms may not be copied, reproduced, republished, uploaded, posted, transmitted, distributed, or modified, in whole or in part, whether in textual, graphic, audio, video, or executable form, without our written authorization. All rights reserved.</p>
                <h2>3. Use of company content</h2>
                <p>We may provide you with certain information as a result of your use of our Platforms, including, without limitation, documents, data or information developed by us, or anything else that may assist you in doing so. use of our platforms or services (the “Company Content”). Company Content may not be used for any purpose other than the use of our platforms and the services offered on them. Nothing contained herein shall be construed as granting you any license or intellectual property rights.</p>
                <h2>4. User account and account usage</h2>
                <p>Use of our platforms requires the creation of a user account that identifies you (hereinafter referred to as “user account”):</p>
                <ol>
                    <li>The user account is strictly personal and cannot under any circumstances be used by several individuals simultaneously. Failure to comply with this rule could result in permanent suspension of access to accounts and services offered by ONE HAND BUSINESS LLC.</li>
                     <li>The registrant is entirely responsible for the management, confidentiality and security of his account, as well as all associated passwords (secret codes).</li>
                     <li>It is strictly prohibited to carry out transactions (account reloading, sending money, or any other service offered by ONE HAND BUSINESS LLC) on behalf of a third party (friend, brother, sister, etc.) . The latter is strongly encouraged to open an account on one of the platforms for their own use.</li>
                     <li>You agree to immediately notify us of any unauthorized use of your user account, services via your account, or any password associated with your account, as well as any breach of security of your account or the service provided via it. You also agree to cooperate with us, as we may request, in terminating or remediating any security breach related to your account.</li>
                     <li>You agree to provide true, accurate and current user information as may be requested from time to time. You also agree to notify us of any changes to your user information, so that the data we hold is true, accurate and current at all times. This information may include, but is not limited to: First and last name, landline & mobile telephone number, home address, profession, date of birth.</li>
                 </ol>
                 <h2>5. Identity Verification Procedure, Legal Requirements and Transaction Limits</h2>
                 <p>In order to use your account, it is imperative to verify your identity, in accordance with the law governing the “Know Your Customer” process. This verification will be carried out from your first transaction (account top-up) using your first and last names, home addresses and date of birth. It will then be renewed annually to ensure that the information about you remains up to date. By accepting these general conditions of use, you grant us the necessary authorization to carry out these verifications.</p>
                 <p>In order to send amounts greater than the equivalent of $950 per 24-hour period with wa-llet, your identity must be verified. Once verified, you will now have the ability to send the equivalent of $9,500 per week. To exceed this limit, please contact us. Through our platforms, you will not be able to send more than the equivalent of $9,500 Canadian/US per 24-hour period, even if your identification document has been verified.</p>
                 <p>There are two methods for identity verification (we recommend online verification first):</p>
                 <ol type="a">
                     <li>Submit ID and selfie through your online account:
                        <ul>
                            <li>Upload a photo of your ID (double-sided driving license, passport + proof of address, health insurance card + proof of address)</li>
                            <li>Selfie with ID in hand + piece of paper with the inscription "wa-llet" and the date of the photo</li>
                        </ul>
                    </li>
                    <li>b. Online verification using the services integrated into the platforms: This method consists of having you identified directly from our applications by following a few simple steps: verification of the authenticity of the identity document (photograph of the document and selfie directly from the system) and automatic identity verification (through the credit file). More detailed instructions can be found on the platforms.</li>
                </ol>
                <h2>6. Payment Procedure</h2>
                <p>To complete a transaction on our platforms, it is necessary to credit your account via an Interac, Zelle electronic transfer or any other payment method available on our platforms.</p>
                <p>When you use one of these payment methods, you certify that you have authorization to use said payment method. When you make a payment, you authorize us and the payment service we use to charge the full amount to the payment method you specified or used for the transaction. You also authorize us to collect and store this payment information, as well as any other information associated with the transaction.</p>
                <p>If paying by debit card, we may obtain pre-authorization from the card issuer for an amount equivalent to the total transaction. If you decide to cancel a transaction before it is finalized, the funds used for pre-authorization may not be immediately available in your account.</p>
                <p>We retain the right to cancel any transaction if we believe that it violates the applicable terms and conditions of use, or if we believe that doing so would prevent financial loss.</p>
                <p>In an effort to prevent financial loss, we may contact the issuer of your payment method, law enforcement authorities or any other relevant parties (including other users) and share details of any transactions with which you are associated if we believe it could prevent financial loss or violation of law.</p>
                <h2>7. Annual Subscription Fee</h2>
                <p>Money transfers are carried out without sending fees and at a very competitive exchange rate. However, to benefit from this free service, wa-llet users must pay an annual subscription, covering the period from January 1 to December 31.</p>
                <p>For those who create their account or pay their subscription during the year, the amount to be paid is calculated as follows: (Amount of the annual subscription x Number of quarters remaining in the year, including the quarter of payment) / 4.</p>
                <p>Here are the subscription plans for the current calendar year:</p>
                <ul>
                    <li>Up to $1,000 = $10</li>
                    <li>Up to $12,000 = $60</li>
                    <li>Up to $24,000 = $100</li>
                    <li>Up to $36,000 = $150</li>
                    <li>Up to $100,000 = $350</li>
                </ul>
                <p>From November 15 of each year, any paid subscription is valid until December 31 of the following year, up to the amount of the chosen plan.</p>
                <h2>8. wa-llet</h2> Payment Options
                <p>We provide you with several channels to make your transfers, including deposit via Orange Money, MTN Mobile Money, or through Express Union. For certain locations in Cameroon, we may make payments in partnership with our affiliates. We are constantly working to expand our network of local partners to cover more cities in Cameroon and other countries. You will be informed of new additions regarding channels, cities and countries on our platforms or via our website <a href="https://www.wa-llet.com">www.wa-llet.com</a>.</p>
                <p>Please note that operators Orange Cameroun, MTN Cameroun and Express Union charge fees when withdrawing funds. A comparative analysis of these fees by operator is available on our website <a href="https://www.wa-llet.com">www.wa-llet.com</a>.</p>
                <p>We also offer the possibility of depositing funds into bank accounts in Cameroon from $1,000 (USD and CAD)/€, as well as in Nigeria (this time with no minimum amount requirement) and this , always without deposit fees from wa-llet. These deposits may take up to two business days to process, excluding the day of the transaction from the calculation of the two business days.</p>
                <p>From our platforms, you also have the option of reloading UBA Visa prepaid cards in Cameroon. The recharge service for these cards is available from 8 a.m. to 10 p.m. Central African Time (GMT+1). To recharge, wa-llet requires between 1 hour and 3 hours in the time slot mentioned previously. The recharge limits for each card segment are available on our platforms, under the “Banking Operations” section. Please note that withdrawals from UBA ATMs in Cameroon are free of charge, according to the latest information communicated by UBA. However, fees apply at ATMs of other banks.</p>
                <h2>9. Sale of Products and/or Services, Cancellation and Refund</h2>
                <p>We offer the sale of goods and services and are committed to providing as accurate information as possible regarding these products, including descriptions and images. However, we cannot guarantee the absolute accuracy or reliability of any information relating to a product. You acknowledge and agree that the purchase of these products is at your own risk.</p>
                <p>If you are not satisfied with a service that you have purchased on one of our platforms, here is the procedure to follow:</p>
                <ol>
                    <li>Within 30 days of sending the funds or purchasing the good or service on one of our platforms, send an email to: <a href="mailto:support@wa-llet. com">support@wa-llet.com</a>. Mention in your email your telephone number associated with the account, as well as your reimbursement request. Don't forget to provide the transaction number and date, beneficiary name and transaction amount. The refund will be made according to the amount initially received by ONE HAND BUSINESS LLC and by the same payment method used when the funds were received. You can also contact us by telephone using the numbers available at the end of these conditions.</li>
                    <li>Regarding fund transfers, please note that reimbursement is only possible if the payment or account deposit has not yet been made to the beneficiary or number you provided. It is important to emphasize that Mobile Money deposits (Orange, MTN, Moov, etc.) managed by telephone operators are final and that, once the deposit has been made, ONE HAND BUSINESS LLC / wa-llet no longer has access to the deposits. funds and therefore cannot cancel the transaction.</li>
                    <li>Although ONE HAND BUSINESS LLC, through its local partners, can help contact the person who received the deposit in error in the destination country, or even the telephone operator that manages the Mobile Money network , you acknowledge that this is your sole responsibility. You also understand that ONE HAND BUSINESS LLC will not be able to provide a refund in the event of an error on your part if it is unable to recover the funds from the "wrong recipient" or the telephone operator that manages the Mobile Money. </li>
                </ol>
                <p>At ONE HAND BUSINESS LLC / wa-llet, we do everything we can to ensure that your money transfers take place with complete peace of mind. This is why we carry out several checks, especially when sending Mobile Money funds to a recipient for the first time. Always pay attention to the “Mobile Money Name” of your beneficiary on the confirmation page. If this appears to be incorrect, do not send and confirm the information with your recipient. Always take the time to verify the recipient's information before each sending, even if you send money to this person regularly, as phone number changes are quite common.</p>
               <h2>10. Responsible Use of our Platforms</h2>
                <p>By accepting these terms, you agree not to use our platforms for illegal purposes, nor for any other purpose prohibited by the provisions of this clause. You agree not to use our platforms in any way that could harm them, the services or the commercial activities of ONE HAND BUSINESS /wa-llet.</p>
                <p>In addition, you agree not to use our platforms in the following cases:</p>
                <ol>
                    <li>Breaking any laws: whether local, provincial, state, federal, national or international that may apply to you;</li>
                     <li>Harass, threaten, abuse or otherwise violate the rights of any person;</li>
                     <li>Violation of the intellectual property of ONE HAND BUSINESS /wa-llet or any other third party;</li>
                     <li>Download or transmit computer viruses or any other software that may damage the property of ONE HAND BUSINESS /wa-llet or any third party;</li>
                     <li>Support or participate in illegal activities such as fraud, illegal gambling, money laundering or terrorist activities, and encourage or induce any third party to engage in any of the activities prohibited in this section;</li>
                     <li>Establish or participate in illicit gaming, lottery or pyramid scheme activities;</li>
                     <li>Publish or distribute obscene or defamatory content;</li>
                     <li>Interfere, disrupt, negatively affect or prevent other users from fully enjoying the services offered by ONE HAND BUSINESS LLC /wa-llet;</li>
                     <li>Publish or disseminate any content inciting violence, hatred or discrimination against any group whatsoever; and/or</li>
                     <li>Illicitly collecting information about others.</li>
                </ol>
                <h2>11. Confidentiality and Data Protection</h2>
                 <p>When using our platforms, you will be required to provide us with certain personal information. By using our Platforms, you grant us permission to use your data in North America, Europe and any country where we operate.</p>
                 <p>When registering for a user account, you must provide a valid email address as well as other information such as your first and last name, home address, and date of birth, as indicated in the previous sections . Depending on your use of our platforms, we may also receive information from third-party applications that you use to access our services, or obtain information about you through various web technologies such as cookies, histories, pixel tags (also known as "clear GIFs"), tags and others.</p>
                 <p>The data we collect from you is used to ensure your optimal experience on our platforms and to meet legal requirements, particularly regarding identity verification. We may also analyze some of the passive information received to improve our marketing and analytics practices, and to do so we may collaborate with third party service providers.</p>
                 <p>If you wish to limit our access to any passive information obtained through the use of various technologies, you may choose to disable cookies in your web browser. Please note that we will nevertheless receive the information that you provide to us directly, such as your first and last names, home address, date of birth, etc.</p>
                 <p>ONE HAND BUSINESS /wa-llet uses Plaid Inc. ("Plaid") to collect your data from financial institutions and credit bureaus. By using our Service, you authorize ONE HAND BUSINESS /wa-llet and Plaid to act on your behalf to access and transmit your personal, financial and credit information to your applicable financial institution and credit bureau. You agree that your personal, financial and credit report data will be transferred, stored and processed by Plaid in accordance with the Plaid End User Privacy Policy (Plaid End User Privacy Policy). as well as by ONE HAND BUSINESS /wa-llet.</p>
                 <p>For US users, ONE HAND BUSINESS /wa-llet also uses financial institutions to process ACH direct debits from your bank account to ONE HAND BUSINESS /wa-llet for payment for the Service.</p>
                 <p>If your account is terminated, we will retain your information for a period of 1 year. After this period, all information concerning you will be deleted.</p>
                 <h2>12. Disclaimer</h2>
                 <p>Our platforms are intended solely to facilitate communications and money transfers from North America to Africa (notably Cameroon, Ivory Coast, etc.). You acknowledge and agree that any information published on our platforms does not constitute legal, medical or financial advice, and that no relationship of trust is established between you and ONE HAND BUSINESS /wa-llet. Furthermore, you agree that purchasing services on our platforms is at your own risk. Under no circumstances can we be held responsible for the advice or any other information published on our platforms.</p>
                 <h2>13. Reverse Engineering and Security</h2>
                 <p>You agree not to undertake the following actions:</p>
                 <p>a) Reverse engineer or disassemble any code or software on our platforms;</p>
                 <p>b) Attempt to compromise the security of our Platforms through unauthorized access, circumvention of encryption or other security measures, data exploitation or interference with any host, user or network. /p>
                 <h2>14. Account Security and Data Loss</h2>
         <p>The security of your user account and the content associated with it are your responsibility. Use of our Platforms is at your own risk. We cannot be held responsible in the event of loss of data.</p>        
         <h2>15. Liability and Compensation</h2>
         <p>You agree to protect, indemnify and hold harmless ONE HAND BUSINESS /wa-llet and its affiliates from any claim, action or demand, including attorneys' fees, that may arise from your use or misuse of our Platforms, your violation of these Terms or your behavior and actions. If we deem it necessary, we will choose our own lawyer and participate in our own defense.</p>
        
         <h2>16. Anti-Spam Policy</h2>
         <p>You are strictly prohibited from using our platforms or any services offered on them for the purposes of illegal activities related to spam, which includes the collection of addresses and personal information of others, as well as than sending bulk commercial emails.</p>
        
         <h2>17. Links and Third Party Content</h2>
         <p>We may include links to third-party websites or services. We assume no responsibility for any damage or loss resulting from the use of third party services accessible via the links on our platforms.</p>
        
         <h2>18. Separability of Clauses</h2>
         <p>If any provision of these Terms of Use is found to be unlawful, void or unenforceable, in whole or in part, that shall not affect the validity and enforceability of any remaining provisions of these Terms of Use.</p >
               <h2>19. Service Interruptions</h2>
         <p>We may need to suspend your access to the Platforms to carry out maintenance work or in the event of an unplanned emergency. You acknowledge that your access to the Platforms may be affected by unanticipated or unscheduled interruptions, for various reasons, and that we will not be liable for any damage or loss resulting from such interruptions.</p>
        
         <h2>20. Termination of the User Account</h2>
         <p>In our sole discretion and without notice, we reserve the right to suspend, deactivate, limit or terminate your user account and your access to our platforms for any reason. This may be due to concerns about the operation or effectiveness of our platforms, equipment or network, or if you have breached or are currently breaching the terms set out in these Terms. We will not be liable to any third party, including third party providers, for any suspension, limitation or termination of your access to the Platforms.</p>
          <h2>21. Disclaimer</h2>
         <p>Although we use reasonable efforts to ensure the accuracy of the content on our platforms, we cannot guarantee that it is error-free, up-to-date or complete. We cannot under any circumstances be held responsible for damages that may result from errors on our platforms.</p>        
         <p>We disclaim any liability for damages resulting from inappropriate use of the content of our platforms. We also cannot guarantee that our Platforms will be available without interruption, without errors or omissions, or that defects will be corrected. Likewise, we cannot guarantee that our platforms and the servers making them available will be free of viruses or harmful components. Our Platforms and their content are provided “as is” and “as available” without any representation, warranties or conditions, express or implied.</p>
        
         <p>If you choose to subscribe to any services or features of our Platforms that require a subscription, you agree to provide accurate and up-to-date information about yourself as prompted by the relevant registration or subscription process, and to update them as soon as possible. You agree to maintain the confidentiality of all passwords or other account identifiers that you have chosen or that have been assigned to you when registering or subscribing to ONE HAND BUSINESS /wa-llet or its partners, and to assume responsibility for all activities related to the use of such passwords or accounts. You also agree to notify us immediately of any unauthorized use of your password or member account. We cannot be held responsible, directly or indirectly, for any loss or damage of any kind arising from or relating to your failure to comply with this provision.</p>
        
         <p>You acknowledge that we may, in our sole discretion and without notice, suspend, cancel or terminate your account, your use of or access to the Platforms or any of its services, and delete any information or content related to the platforms or any of the services offered (and terminate your use of them), for any reason whatsoever, including if we believe that you have violated these conditions. Further, you agree that we shall not be liable to you or anyone else on account of any such suspension, cancellation or termination. If you are dissatisfied with ONE HAND BUSINESS /wa-llet, any of its services, or with these terms, rules, policies, guidelines or our practices relating to the operation of ONE HAND BUSINESS /wa -llet or any of its services, your only recourse is to stop using the platforms or service in question.</p>
         <h2>22. Privacy</h2>
         <p>Due to the use of the Internet, communications may be intercepted, lost or altered. Accordingly, you acknowledge that any information or data you provide electronically when accessing our Platforms is neither confidential nor proprietary, except to the extent required by applicable laws. Additionally, please note that unsecured email communications over the Internet may be intercepted, altered or lost.</p>
        
         <p>For further information, please consult our Privacy Policy available at the following address: <a (click)="openViewPolicy()"class="link" style="cursor:pointer"> wa-llet Privacy Policy</a>.</p>
        
         <h2>23. Limitation of Liability</h2>
         <p>Under no circumstances can we be held responsible for any damage you may suffer as a result of your use of our platforms, to the extent permitted by law.</p>
        
         <p>It is your responsibility to carefully verify the information you enter about your beneficiaries on our platforms. As previously mentioned, with regard to transactions via Mobile Money, we cannot be held responsible in the event of incorrect information being used during a transaction, thereby resulting in a transfer to the wrong account or person.</p >        
            <p>ONE HAND BUSINESS /wa-llet's maximum liability for any claim related to your use of our Platforms is capped at one hundred (100) dollars or the amount paid to ONE HAND BUSINESS /wa-llet in the preceding six months , whichever is greater. This limitation applies to any claim, including, but not limited to, lost profits or revenue, consequential or punitive damages, negligence, tort or fraud of any kind.</p>
            <h2>24. Legislation and applicable laws</h2>
            <p>For users in the United States, you agree that, except as otherwise provided in this Terms of Use Agreement and to the extent not in conflict with federal law, the laws of the State of Delaware, without regard to principles of conflict of laws, will govern this agreement and any claim or dispute that arises or may arise between you and our payment collectors, ONE HAND BUSINESS /wa-llet or any of its affiliates relating to your use wa-llet services.</p>
           
            <p>For all other users, you agree that, except as otherwise provided in this Agreement and to the extent not in conflict with the federal laws of Canada, the laws of the Province of Quebec, without regard to principles conflict of laws, will govern this agreement and any claim or dispute that arises or may arise between you and our payment collectors, ONE HAND BUSINESS /wa-llet or any of its affiliates relating to your use of the wa-llet Services. /p>
            <h2>25. Questions and Additional Information</h2>
            <p>If you have any questions or would like more information, please contact us using the following details:</p>        
        <ul>
            <li>Email: <a href="mailto:info@wa-llet.com">info@wa-llet.com</a></li>
            <li>WhatsApp: <a href="https://wa.me/13013791517">+1 301 379 1517</a></li>
            <li>Telegram: <a href="https://t.me/wallet_support">+1 301 379 1517</a></li>
            <li>Toll-free customer support numbers (North America): +1 888 500 9523 / 9528</li>
          </ul>
         
          <p>Head office Canada:</p>
          <address>
            Address: 4444, durrrrr, #60, durmonvill Park, XXX 1M9, Quebec, Canada<br>
            Telephone number: +1 240 379 1517
          </address>
         
          <p>USA Headquarters:</p>
          <address>
            Address: 11532 lockwood dr, #D2, silver spring MD, 20904, USA<br>
            Telephone number (USA): +1 240 429 1630
          </address>
        
            </div>
           
        </div>
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>
                 A fast and efficient way to send money from the United States to Cameroon. 
                </h2>
                <p>
                    Download our app for free to send money online in minutes,
                  towards Cameroon. View your history from anywhere
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>