<div class="mobile-app">
    <div class="mobile-app-hero">
        <div class="content">
            <div class="left">
                <h2>
                    {{'mobile_app_1' | translate }}
                    
                </h2>
                <p>
                    {{'mobile_app_2' | translate }}
                    
                </p>
                <div class="panel">
                    <p>{{'mobile_app_3' | translate }}
                        
                    </p>
                    <img src="/assets/images/jpg/qrcode.JPG" alt="qrcode-wallet" />
                </div>
            </div>
            <div class="right">
                <img class="d-web" src="/assets/images/png/app-1.png" alt="" />
                <img class="d-mobile" src="/assets/images/png/mobile_app_m.png" alt="" />
                <button class="d-mobile btn btn-light">
                    {{'mobile_app_4' | translate }} 
                </button>
                <p class="d-mobile">
                    {{'mobile_app_5' | translate }}
                    <a (click)="openViewlogin()">{{'mobile_app_6' | translate }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="section-pub" style="display: none;">
        <div class="content">
            <div class="left">{{'mobile_app_7' | translate }} </div>
            <div class="rightc"></div>
        </div>
    </div>
    <div class="vid-section">
        <div class="content">
            <div class="btn-play">
                <img src="assets/images/svg/play-fill.svg" alt="" />
                <div class="animated"></div>
            </div>
            <h3>{{'mobile_app_8' | translate }}</h3>
        </div>
    </div>
    <div class="why-us">
        <div class="content">
            <h2>{{'mobile_app_9' | translate }}
                
            </h2>
            <div class="line-block">
                <div class="block">
                    <img src="assets/images/svg/Money_transfer_options.svg" alt="" />
                    <h2>{{'mobile_app_10' | translate }}</h2>
                    <p>{{'mobile_app_11' | translate }}
                        
                    </p>
                </div>
                <div class="block">
                    <img src="assets/images/svg/Money_transfer_options.svg" alt="" />
                    <h2>{{'mobile_app_12' | translate }}</h2>
                    <p>{{'mobile_app_13' | translate }}
                        
                    </p>
                </div>
                <div class="block">
                    <img src="assets/images/svg/Customer_support.svg" alt="" />
                    <h2>{{'mobile_app_14' | translate }}</h2>
                    <p>{{'mobile_app_15' | translate }}
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="how-to-send-money">
        <div class="content">
            <h2>{{'mobile_app_16' | translate }}</h2>
            <div class="block">
                <div class="card">
                    <img src="assets/images/jpg/app-4.jpg" alt="" />
                    <h3>{{'mobile_app_17' | translate }}</h3>
                    <p>{{'mobile_app_18' | translate }}
                        
                    </p>
                </div>
                <div class="card">
                    <img src="assets/images/jpg/app-5.jpg" alt="" />
                    <h3>{{'mobile_app_19' | translate }}</h3>
                    <p>{{'mobile_app_20' | translate }}
                        
                    </p>
                </div>
                <div class="card">
                    <img src="assets/images/jpg/app-6.jpg" alt="" />
                    <h3>{{'mobile_app_21' | translate }}</h3>
                    <p>{{'mobile_app_22' | translate }}
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>{{'mobile_app_23' | translate }}
                   
                </h2>
                <p>{{'mobile_app_24' | translate }}
                    
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>