<div class="faq">
  <div class="hero-section-faq">
    <div class="content">
      <p>{{applyText('md_aide_text_1') }}</p>
      <img src="assets/images/png/helping-hand.png" alt="" />
      <input
        type="search"
        class="form-control"
        id="searchFaqForm"
        placeholder="Recherche par mot clé"
      />
    </div>
  </div>
  <div class="faq-topic">
    <div class="content">
      <h2 class="web">{{applyText('md_aide_text_2') }}</h2>
      <div class="widget-faq">
        <h3>{{applyText('md_aide_text_3') }}</h3>
        <ul class="list-unstyled">
          <!-- <li><a href="">Premiers pas avec WorldRemit</a></li>
          <li><a href="">Problèmes communs</a></li>
          <li><a href="">Annulations et remboursements</a></li>
          <li><a href="">Où est mon argent ?</a></li> -->
          <li><a title="Mon compte" (click)="openViewMyAccount()">{{applyText('md_aide_text_4') }}</a></li>
          <!-- <li><a href="">vérification d'identité</a></li>
          <li><a href="">Référez un ami</a></li>
          <li><a href="">Comment rester en sécurité en ligne ?</a></li> -->
        </ul>
      </div>
      <h2 class="mobile">{{applyText('md_aide_text_5') }}</h2>
      <div class="explore-block">
        <div class="rub">
          <img src="assets/images/png/waving-hands.png" class="img-sec" alt="" />
          <div>
            <h3>{{applyText('md_aide_text_6') }}</h3>
            <p>{{applyText('md_aide_text_7') }}</p>
          </div>
          <img src="assets/images/svg/chevron-right-dark.svg" class="icon-sec" alt="" />
        </div>
        <div class="rub">
          <img src="assets/images/png/send.png" class="img-sec" alt="" />
          <div>
            <h3>{{applyText('md_aide_text_8') }}</h3>
            <p>{{applyText('md_aide_text_9') }}</p>
          </div>
          <img
            src="assets/images/svg/chevron-right-dark.svg"
            class="icon-sec"
            alt=""
          />
        </div>
        <div class="rub">
          <img src="assets/images/png/user.png" class="img-sec" alt="" />
          <div>
            <h3>{{applyText('md_aide_text_10') }}</h3>
            <p>
              {{applyText('md_aide_text_11') }}
              
            </p>
          </div>
          <img
            src="assets/images/svg/chevron-right-dark.svg"
            class="icon-sec"
            alt=""
          />
        </div>
        <div class="rub">
          <img
            src="assets/images/png/dollar-currency-symbol.png"
            class="img-sec"
            alt=""
          />
          <div>
            <h3>{{applyText('md_aide_text_12') }}</h3>
            <p>
              {{applyText('md_aide_text_13') }}
              
            </p>
          </div>
          <img
            src="assets/images/svg/chevron-right-dark.svg"
            class="icon-sec"
            alt=""
          />
        </div>
        <div class="rub">
          <img src="assets/images/png/gift.png" class="img-sec" alt="" />
          <div>
            <h3>{{applyText('md_aide_text_14') }}</h3>
            <p>{{applyText('md_aide_text_15') }}</p>
          </div>
          <img
            src="assets/images/svg/chevron-right-dark.svg"
            class="icon-sec"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="app-section">
    <div class="content">
      <div class="left">
        <img src="assets/images/png/home-6.png" alt="" />
      </div>
      <div class="right">
        <h2>
          {{applyText('md_aide_text_16') }}
        </h2>
        <p>
          {{applyText('md_aide_text_17') }}
        </p>
        <div class="download_app">
          <button class="btn btn-link">
            <img src="assets/images/png/download_AppStore.png" alt="" />
          </button>
          <button class="btn btn-link">
            <img src="assets/images/png/download_PlayStore.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="pub">
    <div class="content">
        <h1>{{applyText('md_aide_text_18') }}</h1>
        <button class="btn btn-primary">{{applyText('md_aide_text_19') }}</button>
    </div>
  </div>
</div>
