<div class="reviews">
    <div class="how-to">
        <div class="content">
            <div class="right"></div>
            <div class="left">
                <h3>Avis des clients WorldRemit</h3>
                <p>
                    Nos clients nous font confiance à l’heure d’envoyer le fruit de leur dur labeur. Ils savent que leur
                    argent arrive à destination rapidement, en toute sécurité et à moindre coût. C’est pourquoi nous
                    recueillons un si grand nombre d’avis clients positifs. Le vôtre en fera-t-il partie ?
                </p>
                <a href="">Lisez les avis de nos clients</a>
                <button class="btn btn-primary">Partagez votre dernière expérience</button>
            </div>
        </div>
    </div>
    <div class="why-us">
        <div class="content">
            <h2>
                Pourquoi nos clients aiment-ils WorldRemit ?
            </h2>
            <div class="line-block">
                <div class="block">
                    <img src="assets/images/svg/Money_transfer_options.svg" alt="" />
                    <h2>C'est facile avec nous</h2>
                    <p>
                        Avec WorldRemit, envoyer de l’argent n’a jamais été aussi facile et rapide. Vous pouvez
                        également recevoir des mises à jour régulières et suivre votre argent à chaque étape du
                        processus d’envoi.
                    </p>
                </div>
                <div class="block">
                    <img src="assets/images/svg/Money_transfer_options.svg" alt="" />
                    <h2>Prix compétitifs</h2>
                    <p>
                        En moyenne, nous sommes 46 % moins chers que la plupart des banques. Aucuns frais cachés. Tous
                        nos frais sont indiqués dès le départ.
                    </p>
                </div>
                <div class="block">
                    <img src="assets/images/svg/Customer_support.svg" alt="" />
                    <h2>Une sécurité totale</h2>
                    <p>
                        WorldRemit est un service de transfert d'argent agréé et réglementé. Nos contrôles de sécurité
                        protègent votre argent et vos informations personnelles à tout moment.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="reviews-section">
        <div class="content">
            <img class="img-gift" src="assets/images/svg/trustpilot.svg" alt="" />
            <div class="rated">
                <span>78 150 avis · Bien</span>
                <hr class="vertical" />
                <div class="stars-rated">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                        </li>
                        <li class="list-inline-item">
                            <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                        </li>
                        <li class="list-inline-item">
                            <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                        </li>
                        <li class="list-inline-item">
                            <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                        </li>
                        <li class="list-inline-item">
                            <img class="img-gift" src="assets/images/svg/star.svg" alt="" />
                        </li>
                        <li class="list-inline-item"><span>4.6</span></li>
                    </ul>
                </div>
            </div>
            <div class="slick-slider">
                <div class="controls">
                    <button class="btn btn-link">
                        <img src="assets/images/svg/arrow-left-short.svg" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/svg/arrow-right-short.svg" alt="" />
                    </button>
                </div>
                <div class="s-slides">
                    <div class="content">
                        <div class="card">
                            <p class="r-title">Arielle Carelle TOUKAM NGUEBMEG</p>
                            <p class="r-content">1 avis</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star.svg" alt="" />
                                </li>
                            </ul>
                            <p class="r-lib">"Service rapide et éfficace"</p>
                            <p class="r-date">
                                <img src="assets/images/png/canada.png" alt="" /> il y a 6 mois
                            </p>
                        </div>
                        <div class="card">
                            <p class="r-title">Franck PONDJA DJIENCHEU</p>
                            <p class="r-content">1 avis</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star.svg" alt="" />
                                </li>
                            </ul>
                            <p class="r-lib">"Transfert d'argent rapide"</p>
                            <p class="r-date">
                                <img src="assets/images/png/canada.png" alt="" /> il y a 6 mois
                            </p>
                        </div>
                        <div class="card">
                            <p class="r-title">Patricia NGUETSOP WOUTIO</p>
                            <p class="r-content">1 avis</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star.svg" alt="" />
                                </li>
                            </ul>
                            <p class="r-lib">
                                "Plateforme sécurisé, transfert rapide et application très
                                fluide et bien structurée."
                            </p>
                            <p class="r-date">
                                <img src="assets/images/png/canada.png" alt="" /> il y a 6 mois
                            </p>
                        </div>
                        <div class="card">
                            <p class="r-title">Daniel Arango Moreno</p>
                            <p class="r-content">1 avis</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star.svg" alt="" />
                                </li>
                            </ul>
                            <p class="r-lib">
                                "C’est mieux merci beaucoup pour aide à les personnes étrangèrs"
                            </p>
                            <p class="r-date">
                                <img src="assets/images/png/canada.png" alt="" /> il y a 6 mois
                            </p>
                        </div>
                        <div class="card">
                            <p class="r-title">Majid Chaadi</p>
                            <p class="r-content">2 avis</p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star-fill.svg" alt="" />
                                </li>
                                <li class="list-inline-item">
                                    <img class="img-gift" src="assets/images/svg/star.svg" alt="" />
                                </li>
                            </ul>
                            <p class="r-lib">
                                "Très bien. Très peu de frais et un bon taux de change."
                            </p>
                            <p class="r-date">
                                <img src="assets/images/png/france.png" alt="" /> il y a 6 mois
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="how-to-two">
        <div class="content">
            <div class="right"></div>
            <div class="left">
                <h3>Partagez votre expérience</h3>
                <p>
                    Nous nous efforçons de toujours offrir une expérience optimale à nos clients. C’est pourquoi votre
                    avis est très important à nos yeux. Si vous avez utilisé WorldRemit pour envoyer ou recevoir de
                    l’argent à l’étranger, nous serions ravis d’en savoir plus.
                </p>
                <button class="btn btn-primary">Partagez votre dernière expérience</button>
            </div>
        </div>
    </div>
    <div class="how-to-send-money">
        <div class="content">
            <h2>Tout ce que vous devez savoir pour transférer de l’argent depuis la France avec l’application</h2>
            <div class="block">
                <div class="card">
                    <img src="assets/images/jpg/app-4.jpg" alt="" />
                    <h3>1. Accédez au profil Trustpilot de WorldRemit</h3>
                    <p>
                        Un vrai jeu d’enfant ! Envoyez de l’argent avec WorldRemit, puis accédez à notre profil
                        Trustpilot <a href="">ici</a> pour ajouter votre avis client.
                    </p>
                </div>
                <div class="card">
                    <img src="assets/images/jpg/app-5.jpg" alt="" />
                    <h3>2. Sélectionnez un pays et renseignez les informations du bénéficiaire</h3>
                    <p>
                        Sélectionnez le pays dans lequel vous souhaitez envoyer de l’argent dans la liste, saisissez le
                        montant et choisissez un mode d’envoi. Nos frais et nos taux de change exceptionnels sont
                        indiqués dès le départ.Renseignez ensuite les informations du bénéficiaire.
                    </p>
                </div>
                <div class="card">
                    <img src="assets/images/jpg/app-6.jpg" alt="" />
                    <h3>3. Envoyez de l’argent et renouvelez votre transfert</h3>
                    <p>
                        Une fois votre transfert payé, vos proches reçoivent leur argent en quelques minutes.
                        Aujourd’hui, grâce à notre fonction de renvoi rapide, vous pouvez renouveler vos transferts
                        préférés en quelques gestes. De quoi recueillir des avis client positifs !
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="faq">
        <div class="content">
            <h2>Foire aux questions</h2> 
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            De quelles informations ai-je besoin pour envoyer de l'argent à
                            l'étranger ?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Vous devez vous inscrire auprès de Wa-llet pour envoyer un
                            transfert d'argent international. Vous pouvez le faire sur le site
                            web ou via l'application Wa-llet, sur Android ou sous iOS. Les
                            informations suivantes sont nécessaires :
                            <br />
                            <br />
                            <b>Informations personnelles.</b> Inscrivez-vous en indiquant
                            votre nom complet, votre adresse e-mail, votre numéro de téléphone
                            portable, votre sexe, votre date de naissance et votre adresse.
                            <br />
                            <br />
                            <b>Informations sur le transfert.</b> Choisissez le montant que
                            vous souhaitez envoyer, sélectionnez comment le bénéficiaire
                            souhaite recevoir l'argent, et enfin, le mode de paiement. Nous
                            vous indiquerons toujours le montant final à régler et nos frais à
                            l'avance, ainsi que le montant exact que recevra le bénéficiaire.
                            <br />
                            <br />
                            <b>Informations sur le bénéficiaire.</b> En fonction du mode de
                            réception choisi, nous avons besoin de coordonnées particulières
                            concernant le bénéficiaire à l'étranger. Le nom complet du
                            bénéficiaire, son numéro de téléphone mobile et son adresse e-mail
                            sont toujours nécessaires pour envoyer de l'argent. À noter : le
                            bénéficiaire n'est pas tenu de posséder un compte Wa-llet.
                            <br />
                            <br />
                            <b>Informations pour le paiement.</b> Vous aurez besoin d'un
                            compte, d'une carte de débit ou d'une carte bancaire pour envoyer
                            de l'argent à l'étranger.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Quels sont les avantages de l'envoi d'argent en ligne avec
                            Wa-llet ?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Plus de 8 millions de personnes utilisent Wa-llet pour envoyer
                            et recevoir de l'argent dans le monde entier. Nous proposons
                            jusqu'à quatre modes de réception dans le monde entier avec un
                            service rapide, sécurisé et facile à utiliser. Chaque transfert
                            réalisé via nos services est soumis à de stricts contrôles de
                            sécurité. Au Royaume-Uni, Wa-llet est agréé et réglementé par
                            la FCA.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Quelles vérifications sont nécessaires pour effectuer un transfert
                            international ?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Nous procéderons à la vérification de votre numéro de téléphone
                            mobile à l'aide d'un mot de passe à usage unique. Il peut vous
                            être demandé de fournir une pièce d'identité et un selfie pour
                            vérifier votre identité. La vérification de l'identité prend
                            jusqu'à 4 minutes dans au moins 90 % des cas. Passé ce délai, nous
                            prendrons aussitôt contact avec vous.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Quel est le montant maximum pour un transfert d’argent
                            international ?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Le montant maximum d’un transfert à l’international dépend du pays
                            vers lequel vous souhaitez envoyer de l'argent. Il peut également
                            varier en fonction du mode de réception et des réglementations
                            locales.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Combien de temps prend un transfert d'argent en ligne ?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Dans la plupart des cas, les transferts d'argent envoyés avec
                            Wa-llet arrivent instantanément. Vous pourrez voir le délai de
                            livraison prévu avant d'effectuer le paiement. Nous nous efforçons
                            d'effectuer les transferts dans les délais impartis, mais certains
                            transferts peuvent prendre plus de temps en fonction du mode de
                            réception.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Comment suivre mon transfert Wa-llet ?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Vous pouvez suivre rapidement chaque étape du transfert lorsque
                            vous envoyez de l’argent à vos proches. Nous vous envoyons
                            instantanément une notification avec les informations sur votre
                            transfert. Vous pouvez également utiliser l'application pour
                            visualiser vos transferts précédents. Si vous avez envoyé de
                            l'argent au cours de la dernière heure, attendez la confirmation
                            de son arrivée.
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-light">Consultez notre FAQ</button>
        </div>
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>
                    Un moyen rapide et efficace d'envoyer de l'argent de n'importe où
                    quand vous êtes au Canada
                </h2>
                <p>
                    Téléchargez notre appli gratuitement pour envoyer de l'argent en ligne
                    en quelques minutes, vers plus de 130 pays. Suivez la progression de
                    vos transactions et consultez votre historique d'où que vous soyez
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>