<div class="registration">
  <div class="content">
    <h2>{{'registration_text_1'|translate }}</h2>
    <p>{{'registration_text_2'|translate }}</p>
    <form action="">
      <div class=" ">
        <select class="form-select" aria-label="Default select example">
          <option selected>Etat-Unis</option>
          <option value="1">Etat-Unis</option>
          <option value="2">Canada</option>
        </select> 
      </div>
      <div class=" ">
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Email"
        />
        <!-- <div id="emailHelp" class="form-text">
            Entrer une adresse email correcte
        </div> -->
      </div>
      <div class=" ">
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Mot de passe"
        />
        <div id="exampleInputPassword1" class="form-text">
          {{'registration_text_3'|translate }}
         
        </div>
      </div>
      <div class="form-check form-switch">
        <label class="form-check-label" for="flexSwitchCheckChecked">
          {{'registration_text_4'|translate }}</label
        >
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          
        />
      </div>
      <div class="form-check form-box">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">
          {{'registration_text_5'|translate }}</label>
      </div>
      <button type="submit" class="btn btn-primary">{{'registration_text_6'|translate }}</button>
      <p class="text-privacy">{{'registration_text_7'|translate }}
        
        <a href="">{{'registration_text_8'|translate }}</a> {{'registration_text_9'|translate }}
        <a href="">{{'registration_text_10'|translate }}</a>.
      </p>
      <p class="text-connexion">{{'registration_text_11'|translate }} <a (click)="openViewLogin()">{{'registration_text_12'|translate }}</a></p>
    </form>
  </div>

</div>
