.cash_pickup {
  width: 100%;
  padding: 64px 0 0;
  background-color: #ffffff;
  .content {
    max-width: 1600px;
    margin: auto;
    width: 100%;
    padding: 0 120px;
    font-size: 20px;
    text-align: justify;
    font-weight: bold;
    .menu {
      width: 100%;
      padding: 0 0 64px 0;
      h2 {
        font-size: 40px;
        margin: 0 0 16px;
        font-family: f-bold;
      }
      p {
        font-size: 20px;
        margin: 0 0 16px;
        font-weight: bold;
      }
      div {
        ul {
          li {
            a {
              color: #3b5999;
              font-size: 20px;
            }
          }
        }
      }
    }
    .menu-content {
      width: 100%;
      padding: 0 0 40px;
      .scrollspy-content {
        h4 {
          font-size: 32px;
          margin: 0 0 16px;
          font-family: f-bold;
        }
        div {
          font-size: 20px;
          margin: 0 0 40px;
          font-weight: bold;
        }
      }
    }
  }
  .app-section {
    padding: 104px 0px;
    width: 100%;
    background-color: #f4f9ff;
    .content {
      padding: 0px 120px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 40px;
      max-width: 1600px;
      margin: auto;
      .left {
        display: flex;
        justify-content: center;
      }
      .right {
        h2 {
          font-size: 32px;
          font-family: f-bold;
          margin: 0 0 8px;
          line-height: 1.25;
          text-align: left;
        }
        p {
          font-size: 20px;
          font-weight: bold;
          margin: 0 0 32px;
          line-height: 1.25;
        }
        .download_app {
          display: flex;
          gap: 20px;
          .btn-link {
            text-decoration: none;
            padding: 0 !important;
            img {
              width: 135px !important;
              height: 40px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .cash_pickup .content {
    max-width: 1600px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
  }
  .cash_pickup .app-section {
    padding: 24px 0px 60px;
  }
  .cash_pickup .app-section .content {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column-reverse;
    .left {
      margin: auto;
      img {
        width: 100%;
        height: 460px;
      }
    }
  }
  .cash_pickup .app-section .content .right .download_app {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .cash_pickup .app-section .content .right h2 {
    text-align: center;
  }
  .cash_pickup .app-section .content .right p {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .cash_pickup .content {
    max-width: 1600px;
    margin: auto;
    width: 100%;
    padding: 0 20px;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
  }
  .cash_pickup .app-section {
    padding: 24px 0px 60px;
  }
  .cash_pickup .app-section .content {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column-reverse;
    .left {
      margin: auto;
      img {
        width: 100%;
        height: 460px;
      }
    }
  }
  .cash_pickup .app-section .content .right .download_app {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .cash_pickup .app-section .content .right h2 {
    text-align: center;
  }
  .cash_pickup .app-section .content .right p {
    text-align: center;
  }
}
