<div class="cash_pickup">
    <div class="content">
        <div class="menu">
            <h2>{{applyText('md_cash_pickup_text_1') }}</h2>
            <p>{{applyText('md_cash_pickup_text_2') }}</p>
            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy">
                <ul>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-1">{{applyText('md_cash_pickup_text_3') }}</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-2">{{applyText('md_cash_pickup_text_4') }}</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-3">{{applyText('md_cash_pickup_text_5') }}</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-4">{{applyText('md_cash_pickup_text_6') }}</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-5">{{applyText('md_cash_pickup_text_7') }}</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-6">{{applyText('md_cash_pickup_text_8') }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-content">
            <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0"
                data-bs-smooth-scroll="true" class="scrollspy-content " tabindex="0">
                <h4 id="simple-list-item-1">{{applyText('md_cash_pickup_text_9') }}</h4>
                <div>
                    {{applyText('md_cash_pickup_text_10') }}
                    
                </div>
                <h4 id="simple-list-item-2">{{applyText('md_cash_pickup_text_11') }}</h4>
                <div>
                    {{applyText('md_cash_pickup_text_12') }}
                    
                    <br>
                    {{applyText('md_cash_pickup_text_13') }}
                    
                </div>
                <h4 id="simple-list-item-3">{{applyText('md_cash_pickup_text_14') }}</h4>
                <div>
                    {{applyText('md_cash_pickup_text_15') }}
                    
                    <ul>
                        <li>
                            {{applyText('md_cash_pickup_text_16') }}
                            
                        </li>
                        <li>
                            {{applyText('md_cash_pickup_text_17') }}
                            
                        </li>
                    </ul>
                </div>
                <h4 id="simple-list-item-4">{{applyText('md_cash_pickup_text_18') }}</h4>
                <div>
                    {{applyText('md_cash_pickup_text_19') }}
                    
                    <br>
                    {{applyText('md_cash_pickup_text_20') }}
                    
                </div>
                <h4 id="simple-list-item-5">{{applyText('md_cash_pickup_text_21') }}</h4>
                <div>
                    {{applyText('md_cash_pickup_text_22') }}
                    
                    <ul>
                        <li>
                            {{applyText('md_cash_pickup_text_23') }}
                            
                        </li>
                        <li>
                            {{applyText('md_cash_pickup_text_24') }}
                            
                        </li>
                        <li>
                            {{applyText('md_cash_pickup_text_25') }}
                            
                        </li>
                    </ul>
                    {{applyText('md_cash_pickup_text_26') }}
                    
                </div>
                <h4 id="simple-list-item-6">{{applyText('md_cash_pickup_text_27') }}</h4>
                <div>{{applyText('md_cash_pickup_text_28') }}</div>
            </div>
        </div>
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>
                    {{applyText('md_cash_pickup_text_29') }}
                    
                </h2>
                <p>
                    {{applyText('md_cash_pickup_text_30') }}
                    
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>