<div class="my_account">
    <div class="content">
        <div class="menu">
            <h2>Manage my account</h2>
            <p>Each customer must have their own Wallet account. </p>
            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy">
                <ul>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-1">How do I change the name on my account
                            ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-2">How can I change the date of birth
                            On my account ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-3">How can I change the address and number
                            phone number on my account?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-4">How can I change the sending country on
                            my account ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-5">How do I change the email address on
                            my account ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-6">How can I change the password of my
                            account ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-7">How can I change the PIN code of my
                            account ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-8">Can I have multiple Wallet accounts
                            ?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-9">Can I share a Wallet account?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-10">How do I close my Wallet account?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-11">How to delete my history
                            Wallet transactions?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-12">How can I file a complaint?</a>
                    </li>
                    <li>
                        <a class="p-1 rounded" href="#simple-list-item-13">Complaints from the UK, EU and
                            UNITED STATES</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu-content">
            <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0"
                data-bs-smooth-scroll="true" class="scrollspy-content " tabindex="0">
                <h4 id="simple-list-item-1">How do I change the name on my account
                    ?</h4>
                <div>
                    Your Wallet account name must be your full legal name as it appears on your
                    official identity document.
                    <br>
                    If you made a mistake during registration (for example, your name is misspelled),
                    contact us.
                </div>
                <h4 id="simple-list-item-2">How can I change the date of birth on my account?</h4>
                <div>
                    The date of birth on your Wallet account must be the exact date of birth as it is
                    appears on your official ID.
                    <br>
                    If you made an error during registration (for example, your date of birth is
                    incorrect), contact us.
                </div>
                <h4 id="simple-list-item-3">How do I change the address and phone number on my account?
                </h4>
                <div>
                    The address on your Wallet account must be your full residential address. To modify
                    your telephone number or your personal address, connect to our app or our site
                    Web and go to the My contact details section.
                    <br>
                    If you no longer have access to the registered phone number, please contact customer service
                    who can help you. You will find our contact details here
                </div>
                <h4 id="simple-list-item-4">How can I change the sending country on my account?</h4>
                <div>
                    The “Sending Country” on your Wallet account should be the country where you currently live. Born
                    Do not change the sending country unless you have permanently moved to another country.
                    <br>
                    If you have moved to another country or made an error during registration (for example,
                    you have chosen the wrong country), contact us.
                </div>
                <h4 id="simple-list-item-5">How do I change the email address on my account?</h4>
                <div>
                    To change the registered email address, log in to our app or website and
                    go to My contact details.
                    <br>
                    If you have any problems with this operation, contact us.
                </div>
                <h4 id="simple-list-item-6">How can I change my account password?</h4>
                <div>
                    If you have forgotten your password for the website:
                    <ol>
                        <li>
                            Go to the Wallet site login page
                        </li>
                        <li>
                            Click on “forgot your password?”
                        </li>
                        <li>
                            Enter your email address and click "Send"
                        </li>
                        <li>
                            Check your email, we will have sent you an email including a link.
                        </li>
                        <li>
                            Click the link and you will be guided through the process of setting up a new
                            word of
                            pass
                        </li>
                    </ol>
                </div>
                <h4 id="simple-list-item-7">How do I change my account PIN?</h4>
                <div>
                    When using the Wallet app on Android and iOS, you will need to determine a code
                    PIN to secure your account. If you forgot the PIN code:
                    <ol>
                        <li>
                            Open the app.
                        </li>
                        <li>
                            Click on “Forgot?” ".
                        </li>
                        <li>
                            Enter your email address and password.
                        </li>
                        <li>
                            Click “Connect”.
                        </li>
                        <li>
                            You will be prompted to select a new PIN.
                        </li>
                    </ol>
                    To reset your password, click “Forgot?” » on the screen in step 3.
                </div>
                <h4 id="simple-list-item-8">Can I have multiple Wallet accounts?</h4>
                <div>
                    We only allow one account per customer.
                </div>
                <h4 id="simple-list-item-9">Can I share a Wallet account?</h4>
                <div>
                    We do not allow joint accounts or multiple account holders at this time.
                    Each customer must create their own account.
                    <br>
                    Indeed, we must ensure that we can control the identity of each person who
                    uses Wallet.
                </div>
                <h4 id="simple-list-item-10">How do I close my Wallet account?</h4>
                <div>
                    To deactivate your Wallet account, contact us.
                    <br>
                    If you change your mind, you can always reactivate your account by contacting us.
                </div>
                <h4 id="simple-list-item-11">How do I delete my Wallet transaction history?</h4>
                <div>
                    Wallet is legally required to maintain our customers' transaction history. That
                    means we cannot delete transactions.
                </div>
                <h4 id="simple-list-item-12">How can I file a complaint?</h4>
                <div>
                    If you are not satisfied with the service you received from Wallet, please contact us. We you
                    We will respond as soon as possible, please be patient.
                    <br>
                    We hope to rectify the situation satisfactorily. But if you want to support your
                    complaint after receiving our written response or offer, please refer to the section “
                    Complaints” of our General Conditions. You will find the complaints process relating to the
                    jurisdiction in which you live.
                </div>
                <h4 id="simple-list-item-13">Complaints from UK, EU and US</h4>
                <div>
                    If you live in the UK and are not satisfied with our response, you can forward it to
                    FOS (Financial Ombudsman Service).
                    <br>
                    If you live in the European Union, you can find options to resolve your
                    complaint on the online dispute resolution (ODR) platform.
                    <br>
                    You may be asked for a reference number or details of your correspondence with
                    Wallet. You can use dataprivacy@Wallet.com as your email address.
                    <br>
                    If you live in the United States, go to the File a Complaint - USA page.
                </div>
            </div>
        </div>
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>
                    A quick and efficient way to send money from anywhere
                    when you are in Canada
                </h2>
                <p>
                    Download our app for free to send money online
                    in just a few minutes, to more than 130 countries. Follow the progress of
                    your transactions and view your history from wherever you are
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>