<div class="corporate">
  <div class="hero">
    <h1>{{applyText('md_corporate_1') }}</h1>
  </div>
  <div class="section-corp">
    <div class="content">
      <ul class="list-unstyled">
        <li>
          <img src="assets/images/jpg/profil.JPG" alt="profil" />
          <h2>{{applyText('md_corporate_2') }}</h2>
          <h3>{{applyText('md_corporate_3') }}</h3>
          <p>{{applyText('md_corporate_4') }}
            
          </p>
          <p>{{applyText('md_corporate_5') }}
            
          </p>
          <p>{{applyText('md_corporate_6') }}
            
          </p>
        </li>
        <li>
          <img src="assets/images/jpg/profil.JPG" alt="profil" />
          <h2>{{applyText('md_corporate_7') }}</h2>
          <h3>{{applyText('md_corporate_8') }}</h3>
          <p>{{applyText('md_corporate_9') }}
            
          </p>
          <p>{{applyText('md_corporate_10') }}
            
          </p> 
        </li>
        <li>
          <button class="btn btn-primary" (click)="openViewAbout()">{{applyText('md_corporate_11') }}</button>
        </li>
      </ul> 
    </div>
  </div>
  <div class="app-section">
    <div class="content">
      <div class="left">
        <img src="assets/images/png/mobile_app.png" alt="" />
      </div>
      <div class="right">
        <h2>{{applyText('md_corporate_12') }}
          
        </h2>
        <p>{{applyText('md_corporate_13') }}
          
        </p>
        <div class="download_app">
          <button class="btn btn-link">
            <img src="assets/images/png/download_AppStore.png" alt="" />
          </button>
          <button class="btn btn-link">
            <img src="assets/images/png/download_PlayStore.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
