.corporate {
  .hero {
    background-color: #3e7ccc;
    text-align: center;
    padding: 64px 0;
    h1 {
      color: #ffffff;
      font-size: 56px;
      font-family: f-bold;
      margin: 40px 0;
    }
  }
  .section-corp {
    width: 100%;
    padding: 64px 0;
    .content {
      max-width: 1600px;
      margin: auto;
      width: 100%;
      padding: 0 120px;
      ul {
        li {
          display: grid;
          img {
            width: 135px;
            height: 135px;
          }
          h2 {
            font-size: 32px;
            font-family: f-bold;
            margin: 0 0 16px;
          }
          h3 {
            font-size: 28px;
            font-family: f-bold;
            margin: 0 0 16px;
          }
          p {
            font-size: 20px;
            font-weight: bold;
            margin: 0 0 16px;
            line-height: 1.25;
          }
          .btn-primary {
            height: 56px;
            font-size: 20px !important;
            font-family: f-bold;
            background-color: #3b5999;
            color: #ffffff;
            width: 330px;
          }
        }
      }
    }
  }
  .app-section {
    padding: 104px 0px;
    width: 100%;
    background-color: #e9fde9;
    .content {
      padding: 0px 120px;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center; 
      max-width: 1600px;
      margin: auto;
      .left {
        display: flex;
        justify-content: center;
      }
      .right {
        h2 {
          font-size: 32px;
          font-family: f-bold;
          margin: 0 0 8px;
          line-height: 1.25;
        }
        p {
          font-size: 20px;
          font-weight: bold;
          margin: 0 0 32px;
          line-height: 1.25;
        }
        .download_app {
          display: flex;
          gap: 20px;
          .btn-link {
            text-decoration: none;
            padding: 0 !important;
            img {
              width: 135px !important;
              height: 40px !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .corporate .hero h1 {
    font-size: 24px;
  }
  .corporate .section-corp .content {
    padding: 0 20px;
  }
  .corporate .section-corp .content ul li .btn-primary {
    width: 100%;
  }
  .corporate .app-section {
    padding: 24px 0px 60px;
  }
  .corporate .app-section .content {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column-reverse;
    .left {
      margin: auto;
      img {
        width: 100%;
        height: 460px;
      }
    }
  }
  .corporate .app-section .content .right .download_app {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .corporate .app-section .content .right h2 {
    text-align: center;
  }
  .corporate .app-section .content .right p {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .corporate .hero h1 {
    font-size: 24px;
  }
  .corporate .section-corp .content {
    padding: 0 20px;
  }
  .corporate .section-corp .content ul li .btn-primary {
    width: 100%;
  }
  .corporate .app-section {
    padding: 24px 0px 60px;
  }
  .corporate .app-section .content {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column-reverse;
    .left {
      margin: auto;
      img {
        width: 100%;
        height: 460px;
      }
    }
  }
  .corporate .app-section .content .right .download_app {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .corporate .app-section .content .right h2 {
    text-align: center;
  }
  .corporate .app-section .content .right p {
    text-align: center;
  }
}
