<div class="customer_acceptance">
    <div class="hero">
        <h1>{{applyText('md_customer_acceptance_1') }}</h1>
        <p>{{applyText('md_customer_acceptance_2') }}</p>
    </div>
    <div class="section_content">
        <div class="content">
            <h3>{{applyText('md_customer_acceptance_3') }}</h3>
            {{applyText('md_customer_acceptance_4') }}
            

            <h3>{{applyText('md_customer_acceptance_5') }}</h3>
            {{applyText('md_customer_acceptance_6') }}
            

            <h3>{{applyText('md_customer_acceptance_7') }}</h3>
            {{applyText('md_customer_acceptance_8') }}
            

            <h3>{{applyText('md_customer_acceptance_9') }} </h3>
            {{applyText('md_customer_acceptance_10') }}
            

            <h3>{{applyText('md_customer_acceptance_11') }}</h3>
            {{applyText('md_customer_acceptance_12') }}
            
            <h2>{{applyText('md_customer_acceptance_13') }}</h2>
            {{applyText('md_customer_acceptance_14') }}
            

            

            

            <h2>{{applyText('md_customer_acceptance_15') }}</h2>
            {{applyText('md_customer_acceptance_16') }}
            

            <h2>{{applyText('md_customer_acceptance_17') }}</h2>
            {{applyText('md_customer_acceptance_18') }}
            
        </div>
    </div>
    <div class="app-section">
        <div class="content">
            <div class="left">
                <img src="assets/images/png/home-6.png" alt="" />
            </div>
            <div class="right">
                <h2>
                    {{applyText('md_customer_acceptance_19') }}
                    
                </h2>
                <p>
                    {{applyText('md_customer_acceptance_20') }}
                    
                </p>
                <div class="download_app">
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_AppStore.png" alt="" />
                    </button>
                    <button class="btn btn-link">
                        <img src="assets/images/png/download_PlayStore.png" alt="" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>