<div class="privacy_policy" >
    <div class="hero">
        <h1>ONE HAND BUSINESS (wa-llet) Services Privacy Policy</h1>

    </div>
    <div class="section_policy">
        <div class="content">
            <ul>
                <li>Our websites:
                    <ul>
                        <li><a href="http://www.wa-llet.com">www.wa-llet.com</a></li>
                        <!--li><a href="http://www.mobile.wa-llet.com">www.mobile.wa-llet.com</a></li>
                        <li><a href="http://www.payement.wa-llet.com">www.payement.wa-llet.com</a></li-->
                    </ul>
                </li>
                <li>Our interactive accounts on Telegram, WhatsApp and Facebook Messenger</li>
                <li>Our Android and iOS mobile applications: w@-llet</li>
            </ul>
    
            <p>w@-llet is a registered trademark of ONE HAND BUSINESS LLC. Last updated: October 23, 2023</p>
    
             <p>Respecting your privacy is a top priority for ONE HAND BUSINESS LLC. This policy aims to:</p>
    
             <ol>
                 <li>Outline the collection and processing of your personal data, including information such as
                     your name, address, email, location and IP address.</li>
                 <li>Clarify your rights regarding this data.</li>
                 <li>Identify the party responsible for this processing.</li>
                 <li>Define the recipients of this data.</li>
                 <li>If applicable, explain our cookie policy.</li>
             </ol>
    
             <p>This policy supplements our General Conditions of Use which can be consulted <a (click)="openViewGeneralConditions()"  class="link" cursor="pointer" style="cursor:pointer">here</a>.</p>
    
             <h2>1. Collection of Personal Data</h2>
             <p>We collect the following categories of personal data:</p>
             <ul>
                 <li>Name</li>
                 <li>First name</li>
                 <li>Date and place of birth</li>
                 <li>Postal address, city and country</li>
                 <li>Postal code</li>
                 <li>Email address</li>
                 <li>Phone number</li>
                 <li>Possibly driver's license or passport number for legal identity checks.</li>
             </ul>
    
             <p>This data is obtained according to the methods detailed in the “Forms and Collection Methods” sections.</p>   
             <h2>2. Forms and Collection Methods</h2>
             <p>Your data is collected via the following means:</p>
             <ul>
                 <li>Platform registration form</li>
             </ul>
    
             <p>We use this data for the following purposes:</p>
             <ul>
                 <li>Information / Promotional offers</li>
                 <li>Statistics</li>
                 <li>Contact</li>
                 <li>Platform management</li>
                 <li>Compliance with legal obligations</li>
             </ul>
    
             <h2>3. Interactivity</h2>
             <p>We also collect data through the interaction between you and our platforms. This includes:</p>
             <ul>
                 <li>Comments</li>
                 <li>Correspondence</li>
                 <li>Information for promotional offers</li>
             </ul>
    
             <p>This data is used for the following purposes:</p>
             <ul>
                 <li>Statistics</li>
                 <li>Contact</li>
                 <li>Platform management</li>
                 <li>Compliance with legal obligations</li>
             </ul>
              <h2>4. Log and Cookie Files</h2>
             <p>We collect certain information via log files and cookies. These files allow statistics, traffic analysis and improve navigation.</p>
    
             <h3>a. Description of Cookies Used</h3>
             <ul>
                 <li>IP Address</li>
                 <li>Operating system</li>
                 <li>Login time and day</li>
             </ul>
             <p>These files are used to:</p>
             <ul>
                 <li>Improve the service and personalize the experience</li>
                 <li>Create personalized consumption profiles</li>
                 <li>Conduct statistical studies</li>
             </ul>
             <h3>b. Refusal of Cookies</h3>
             <p>You can object to the use of cookies by configuring your browser. However, this may cause malfunctions which are not our responsibility.</p>
    
             <h2>5. Sharing of Personal Data</h2>
             <p>We undertake not to sell or commercialize your personal data. However, we may share it for the following reasons:</p>
             <ul>
                 <li>Creation of consumption profiles</li>
                 <li>Partnership</li>
                 <li>Advertising</li>
                 <li>Legal compliance</li>
             </ul>
             <p>You can object to this sharing during collection or later, as explained in the “Right of Opposition and Withdrawal” section.</p>
    
             <h2>6. Duration of Retention of Personal Data</h2>
             <p>The data collected is stored securely for 10 years.</p>
             <h2>7. Hosting of Personal Data</h2>
             <p>Our site is hosted by whois, whose contact details are:</p>
             <p>701 Lee Road, Suite 300, Chesterbrook, PA 19087</p>
             <p>Email Number: <a href="mailto:billing@whois.com">billing@whois.com</a> / <a href="mailto:sales@whois.com">sales@whois.com </a></p>
             <p>Data may be transferred to the United States and France.</p>
    
             <h2>8. Responsible for Personal Data Processing</h2>
             <p>The manager can be contacted by email at: <a href="mailto:info@wa-llet.com">info@wa-llet.com</a> or by telephone depending on your region.</p>
             <p>The controller undertakes to protect and use this data in accordance with your wishes and the initial purposes.</p>
    
             <h2>9. Right of Opposition and Withdrawal</h2>
             <p>You have the right to object to the processing of your data and request their removal. To do this, follow the procedure indicated.</p>
             <h2>10. Right of Access, Rectification and Deletion</h2>
             <p>You can access, update, modify or request deletion of your data. Send an email to the manager indicating your request.</p>
             <p>If you wish, you can request the deletion of your personal account by following a specific procedure.</p>
    
             <h2>11. Security</h2>
             <p>Your data is kept in a secure environment, with measures such as SSL, access management and automatic backups.</p>
    
             <h2>12. Your Financial Institution and Third Party Services</h2>
             <p>We use Plaid Inc. to collect your financial data. By using our service, you consent to this sharing.</p>
    
             <h2>13. Changes to the Privacy Policy</h2>
             <p>This policy may be modified to remain compliant with the law. You will be informed of changes by email.</p>
    
             <h2>14. Acceptance of the Privacy Policy</h2>
             <p>By using our platforms, you accept this policy, in particular with regard to the collection and processing of your personal data and the use of cookies.</p>
    
             <h2>15. Legislation and Applicable Law</h2>
             <p>This policy is governed by the laws of the State of Delaware for American users and by the laws of Quebec and Canada for other users.</p>
             <p>In the event of a dispute, the applicable law is that on the protection of personal information in the private sector and/or the law on the protection of personal information and electronic documents.</p>    
            <!-- ... (la suite du texte) ... -->
        </div>
    </div>
    <div class="app-section">
        <div class="content">
          <div class="left">
            <img src="assets/images/png/home-6.png" alt="" />
          </div>
          <div class="right">
              <h2>
                A fast and efficient way to send money from the United States to Cameroon. 
               </h2>
               <p>
                   Download our app for free to send money online in minutes,
                 towards Cameroon. View your history from anywhere
               </p>
            <div class="download_app">
              <button class="btn btn-link">
                <img src="assets/images/png/download_AppStore.png" alt="" />
              </button>
              <button class="btn btn-link">
                <img src="assets/images/png/download_PlayStore.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
</div>