<div class="send-money">
  <div class="hero-section">
    <div class="content-hero">
      <div class="left">
        <h1>Envoyez de l'argent vers le Cameroun</h1>
        <b
          >Des transferts d'argent en ligne rapides, économiques et sécurisés
          vers le Cameroun depuis la France. Choisissez le mode de réception,
          réglez votre transfert et suivez le cheminement de votre argent.</b
        >
        <div class="licence">
          <img src="assets/images/svg/logo-white-trustpilot-copy.svg" alt="" />
          <div class="lib-licence">
            <div class="separator">
              <span>Bien</span>
              <span>Plus de 82 565 avis</span>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="trans-box">
          <div class="head">
            <p>Taux de change</p>
            <p>1 CAD = 40.5363 PHP</p>
          </div>
          <div class="content">
            <div class="group-select">
              <div class="amt">
                <span>Montant envoyé</span>
                <p>100.00</p>
              </div>
              <select class="form-select">
                <option selected>INT</option>
                <optgroup label="pays">
                  <option value="all">
                    <img src="assets/images/png/germany.png" alt="" /> ALL
                  </option>
                  <option value="aus">
                    <img src="assets/images/png/austria.png" alt="" /> AUS
                  </option>
                  <option value="can">
                    <img src="assets/images/png/canada.png" alt="" /> CAN
                  </option>
                  <option value="fra">
                    <img src="assets/images/png/france.png" alt="" /> FRA
                  </option>
                </optgroup>
              </select>
            </div>
            <div class="group-select">
              <div class="amt">
                <span>Montant envoyé</span>
                <p>100.00</p>
              </div>
              <select class="form-select">
                <option selected>INT</option>
                <optgroup label="pays">
                  <option value="all">
                    <img src="assets/images/png/germany.png" alt="" /> ALL
                  </option>
                  <option value="aus">
                    <img src="assets/images/png/austria.png" alt="" /> AUS
                  </option>
                  <option value="can">
                    <img src="assets/images/png/canada.png" alt="" /> CAN
                  </option>
                  <option value="fra">
                    <img src="assets/images/png/france.png" alt="" /> FRA
                  </option>
                </optgroup>
              </select>
            </div>
            <div class="mode_receipt">
              <p>Mode de réception</p>
              <select class="form-select">
                <option selected>International</option>
                <optgroup label="pays">
                  <option value="all">
                    <img src="assets/images/png/germany.png" alt="" /> Allemagne
                  </option>
                  <option value="aus">
                    <img src="assets/images/png/austria.png" alt="" /> Australie
                  </option>
                  <option value="can">
                    <img src="assets/images/png/canada.png" alt="" /> Canada
                  </option>
                  <option value="fra">
                    <img src="assets/images/png/france.png" alt="" /> Français
                  </option>
                </optgroup>
              </select>
            </div>

            <button class="btn btn-primary">Continuer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="why-us">
    <div class="content">
      <h2>Pourquoi choisir WorldRemit ?</h2>
      <div class="line-block">
        <div class="block">
          <img src="assets/images/svg/clock.svg" alt="" />
          <h2>C'est facile avec nous</h2>
          <p>
            Envoyer de l'argent n'a jamais été aussi facile et rapide avec
            WorldRemit. Vous pouvez également recevoir des mises à jour
            régulières et suivre votre argent à chaque étape du processus
            d'envoi.
          </p>
        </div>
        <div class="block">
          <img src="assets/images/svg/safe.svg" alt="" />
          <h2>Une sécurité totale</h2>
          <p>
            WorldRemit est un service de transfert d'argent agréé et réglementé.
            Nos contrôles de sécurité protègent votre argent et vos informations
            personnelles à tout moment.
          </p>
        </div>
        <div class="block">
          <img src="assets/images/svg/value.svg" alt="" />
          <h2>Plébiscité par des millions de personnes</h2>
          <p>
            Plus de 5 millions de clients nous font confiance pour transférer de
            l'argent à leurs amis et à leur famille dans le monde entier. Il
            s'agit de votre argent. Nous le faisons parvenir à vos proches,
            rapidement et en toute sécurité.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="how-to-send-money">
    <div class="content">
      <h2>Comment envoyer de l'argent vers le Cameroun depuis la France</h2>
      <div class="block">
        <div class="card">
          <img src="assets/images/svg/shield-check.svg" alt="" />
          <h3>1. Créez un compte</h3>
          <p>
            <a href="">Inscrivez-vous avec votre adresse e-mail</a> et
            choisissez un mot de passe fort. Vous pouvez vous inscrire via
            l'application ou le site web.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/svg/pin-map.svg" alt="" />
          <h3>2. Créez un transfert</h3>
          <p>
            Sélectionnez le pays de réception, saisissez le montant puis
            choisissez le mode de réception. Les frais et les taux de change
            sont indiqués dès le départ.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/svg/hand-index-thumb.svg" alt="" />
          <h3>3. Saisissez les coordonnées du bénéficiaire</h3>
          <p>
            Gardez les coordonnées du bénéficiaire à portée de main ! Elles
            dépendent du mode de réception choisi pour envoyer l'argent.
          </p>
        </div>
        <div class="card">
          <img src="assets/images/svg/tag.svg" alt="" />
          <h3>4. Réglez votre transfert</h3>
          <p>
            Vous pouvez régler par virement bancaire sur le compte WorldRemit ou
            en utilisant une carte bancaire pour un envoi plus rapide.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-promo-code zone-1">
    <div class="content">
      <div class="left">
        <img class="img-gift" src="assets/images/svg/ChatDots.svg" alt="" />
        <h2>Comment régler votre transfert d'argent</h2>
        <p>
          Effectuez votre transfert d'argent de différentes manières, en
          fonction de votre pays de résidence. Réglez par virement bancaire sur
          le compte de WorldRemit ou par carte bancaire.
        </p>
        <button class="btn btn-light">Envoyer de l'argent</button>
      </div>
      <div class="right"></div>
    </div>
  </div>
  <div class="zone-typ">
    <div class="content">
      <h2>Les différentes moyens d'envoyer de l'argent vers le Cameroun</h2>
      <p>
        Le coût et la rapidité des transferts d'argent dépendent du pays de
        réception, du mode de réception ainsi que du mode de paiement. Vous
        pouvez envoyer de l'argent via le site web ou l'appli WorldRemit
        disponible sur le Google Play Store ou l'App Store.
      </p>
      <div class="slick-slider">
        <div class="controls">
          <button class="btn btn-link">
            <img src="assets/images/svg/arrow-left-short.svg" alt="" />
          </button>
          <button class="btn btn-link">
            <img src="assets/images/svg/arrow-right-short.svg" alt="" />
          </button>
        </div>
        <div class="s-slides">
          <div class="content">
            <div class="card">
              <p class="c-title">Recharge mobile</p>
              <p class="c-content">
                Rechargez un téléphone mobile prépayé et envoyez du crédit, sans
                frais supplémentaires.
              </p>
              <button class="btn btn-primary">En savoir plus</button>
            </div>
            <div class="card">
              <p class="c-title">Virement bancaire</p>
              <p class="c-content">
                Envoyez de l'argent directement sur un compte bancaire. Il vous
                suffit de connaître les informations du bénéficiaire.
              </p>
              <button class="btn btn-primary">En savoir plus</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-promo-code zone-2">
    <div class="content">
      <div class="left">
        <img class="img-gift" src="assets/images/svg/gift.svg" alt="" />
        <h2>Frais de transfert offerts avec le code 3GRATUIT</h2>
        <p>
          Wa-llet offre une exonération totale des frais de service pour vos
          trois premiers transferts. Saisissez le code promo
          <span>3GRATUIT</span> avant de payer.
        </p>
        <button class="btn btn-light">Envoyer maintenant</button>
        <button class="btn btn-link">
          Les conditions générales s'appliquent à l'offre 3GRATUIT
        </button>
      </div>
      <div class="right"></div>
    </div>
  </div>
  <div class="partner">
    <div class="content">
      <h2>Faites votre choix parmi nos partenaires de confiance</h2>
      <p>
        Nous veillons à ce que votre argent soit remis rapidement et facilement.
        Choisissez parmi notre réseau de banques de confiance, de points de
        retrait ou de portefeuilles mobiles.
      </p>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            Virement bancaire
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            Retrait en espèces
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-contact"
            type="button"
            role="tab"
            aria-controls="pills-contact"
            aria-selected="false"
          >
            Recharge mobile
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
          tabindex="0"
        >
          <ul class="list-unstyled list-inline content-ul">
            <li>
              <img class="img-gift" src="assets/images/jpg/BDO.avif" alt="" />
            </li>
            <li>
              <img class="img-gift" src="assets/images/jpg/BPI.avif" alt="" />
            </li>
            <li>
              <img
                class="img-gift"
                src="assets/images/jpg/cebuana-lhullier.avif"
                alt=""
              />
            </li>
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
          tabindex="0"
        >
          <ul class="list-unstyled list-inline content-ul">
            <li>
              <img
                class="img-gift"
                src="assets/images/jpg/TM_bank_logo.avif"
                alt=""
              />
            </li>
            <li>
              <img class="img-gift" src="assets/images/jpg/BPI.avif" alt="" />
            </li>
            <li>
              <img
                class="img-gift"
                src="assets/images/jpg/TNT_logo.avif"
                alt=""
              />
            </li>
          </ul>
        </div>
        <div
          class="tab-pane fade"
          id="pills-contact"
          role="tabpanel"
          aria-labelledby="pills-contact-tab"
          tabindex="0"
        >
          <ul class="list-unstyled list-inline content-ul">
            <li>
              <img class="img-gift" src="assets/images/jpg/BDO.avif" alt="" />
            </li>
            <li>
              <img
                class="img-gift"
                src="assets/images/jpg/TNT_logo.avif"
                alt=""
              />
            </li>
            <li>
              <img class="img-gift" src="assets/images/jpg/BPI.avif" alt="" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="zone-promo-code zone-3">
    <div class="content">
      <div class="left">
        <img class="img-gift" src="assets/images/svg/ChatDots.svg" alt="" />
        <h2>Combien coûte un transfert d'argent vers le Cameroun ?</h2>
        <p>
          Vous trouverez les frais totaux d'envoi d'argent vers le Cameroun sur
          notre convertisseur de devises.
        </p>
        <p>
          Sélectionnez le mode de réception et le partenaire de livraison afin
          de vérifier le taux de change, les frais de transfert et le montant
          total que le bénéficiaire recevra en USD ou NGN. Les frais de
          transfert dépendent du mode de réception et ne varient pas en fonction
          du montant.
        </p>
        <button class="btn btn-light">Consulter les tarifs</button>
      </div>
      <div class="right"></div>
    </div>
  </div>
  <div class="informations">
    <div class="content">
      <h2 class="text-center">
        De quelles informations ai-je besoin pour envoyer de l'argent vers les
        Cameroun ?
      </h2>
      <p>
        Vous devez vous inscrire auprès de WorldRemit pour envoyer de l'argent
        vers le Cameroun. Vous pouvez le faire sur le site web ou via
        l'application WorldRemit, sur Android ou sous iOS.
      </p>
      <h3>D'abord, dites-nous-en plus sur vous</h3>
      <p>
        Inscrivez-vous en indiquant votre nom complet, votre adresse e-mail,
        votre numéro de téléphone portable, votre sexe, votre date de naissance
        et votre adresse.
      </p>
      <h3>Nous vérifierons alors vos informations</h3>
      <p>
        Nous procéderons à la vérification de votre numéro de téléphone à l'aide
        d'un mot de passe à usage unique. Il peut vous être demandé de fournir
        une pièce d'identité et un selfie pour vérifier votre identité. La
        vérification de l'identité prend jusqu'à 4 minutes dans au moins 90 %
        des cas. En cas de dépassement de ce délai, nous prendrons aussitôt
        contact avec vous.
      </p>
      <h3>À vous de créer un transfert</h3>
      <p>
        Choisissez le montant que vous souhaitez envoyer, sélectionnez comment
        le bénéficiaire souhaite recevoir l'argent, et enfin, le mode de
        paiement. Nous vous indiquerons toujours le montant final à régler et
        nos frais à l'avance, ainsi que le montant exact que recevra le
        bénéficiaire.
      </p>
      <h3>Dites-nous à qui envoyer l'argent</h3>
      <p>
        Nous avons besoin de coordonnées particulières concernant le
        bénéficiaire en fonction du mode de réception choisi pour votre
        transfert d’argent Cameroun. Le nom complet du bénéficiaire, son
        numéro de téléphone mobile et son adresse e-mail sont toujours
        nécessaires pour envoyer de l'argent. À noter que le bénéficiaire n'est
        pas tenu de posséder un compte WorldRemit.
      </p>
      <h3>Il ne reste plus qu'à régler le transfert</h3>
      <p>
        Vous aurez besoin d'un compte ou d'une carte bancaire pour effectuer le
        transfert d'argent vers le Cameroun.
      </p>
    </div>
  </div>
  <div class="faq">
    <div class="content">
      <h2>Foire aux questions</h2>
      <p>
        Notre équipe de service client parle 6 langues et se tient à votre
        disposition 24 h/24, 7 j/7 pour vous apporter l'aide dont vous avez
        besoin.
      </p>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Combien de temps prend un transfert d'argent vers le Cameroun
              ?
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Avec WorldRemit, 90 % des transferts d'argent vers le Cameroun
              sont envoyés en quelques minutes à nos partenaires locaux de
              WorldRemit situés dans le pays suivant : Cameroun. Passé ce
              délai, les fonds seront prêts à être récupérés par le bénéficiaire
              (retrait d'espèces), ou à être ajoutés sur leur compte bancaire ou
              leur portefeuille mobile. Le délai estimé pour la réception des
              fonds est plus court lorsque le paiement est effectué par carte
              bancaire. Le délai estimé pour la réception dépend également du
              pays, du mode d'envoi et du mode de paiement choisis pour envoyer
              l'argent. Le délai de réception réel peut différer en raison de
              l'exactitude des coordonnées du bénéficiaire fournies à
              WorldRemit, de la vérification obligatoire de l'identité de
              l'expéditeur et du bénéficiaire, ainsi que des heures d'ouverture
              des tiers dans le pays de réception : Cameroun.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Les transferts d’argent vers le Cameroun sont-ils sécurisés ?
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Notre site web et nos applications sont conçus pour assurer la
              protection de vos données et informations à tout moment. Nous
              respectons strictement les réglementations établies par les
              autorités compétentes dans divers pays, dont la France. Nous
              suivons des processus de vérification stricts pour nous assurer
              que nous identifions pleinement nos clients et dissuadons toute
              activité criminelle. Nous disposons d'équipes dédiées à la
              surveillance et à la protection des comptes et des transferts des
              clients, mais aussi à la détection des signes d'activités
              inhabituelles.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Quelles devises puis-je envoyer sur un compte bancaire dans le
              pays suivant : Cameroun ?
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              WorldRemit propose désormais des transferts d'argent en PHP et USD
              vers certains comptes en Peso philippin et Dollar américain.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
            How much money can you send vers le Cameroun with WorldRemit?
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Il y a des limites au montant que vous pouvez envoyer aux
              Cameroun avec WorldRemit. Cela dépend du pays vers lequel vous
              envoyez, de la méthode de réception ainsi que de la manière dont
              vous payez votre transfert d'argent.
            </div>
          </div>
        </div> 
      </div>
      <button class="btn btn-light" (click)="openViewFaq()">Consultez notre FAQ</button>
    </div>
  </div>
</div>
